## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
from openedx.core.djangoapps.user_api.accounts.utils import retrieve_last_sitewide_block_completed
from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
%>

<%
## This template should not use the target student's details when masquerading, see TNL-4895
self.real_user = getattr(user, 'real_user', user)
profile_image_url = get_profile_image_urls_for_user(self.real_user)['medium']
username = self.real_user.username
resume_block = retrieve_last_sitewide_block_completed(username)
displayname = get_enterprise_learner_generic_name(request) or username
%>

<li>
    <div class="profile-pic">
        <a href="${reverse('dashboard')}">
            <img class="user-image-frame" src="${profile_image_url}" alt="">
        </a>
        <span class="users_name" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="username">${displayname}</span>
            <span class="dropdownmenu">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </span>
        </span>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            % if resume_block:
                <a class="dropdown-item" href="${resume_block}">${_("Resume your last course")}</a>
            % endif
            <a class="dropdown-item" href="${reverse('dashboard')}">${_("Dashboard")}</a>
            <a class="dropdown-item" href="${reverse('learner_profile', kwargs={'username': username})}">${_("Profile")}</a>
            <a class="dropdown-item" href="${reverse('account_settings')}">${_("Account")}</a>
            <a class="dropdown-item" href="${reverse('logout')}">${_("Sign Out")}</a>
        </div>
    </div>
</li>

<script type="text/javascript">
    $('#dropdownMenuButton').on('click', function(){
        $("#dropdownMenuButton").dropdown('toggle');
    });
</script>