## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
  show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing
  show_sysadmin_dashboard = settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff
  self.real_user = getattr(user, 'real_user', user)

  support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
  doc_link = get_online_help_info(online_help_token)['doc_url']

  if online_help_token == "instructor":
    help_link = doc_link
  elif support_link:
    help_link = support_link
  else:
    help_link = doc_link
%>

% if show_dashboard_tabs:
   	<li>
        <!-- <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('courses')}">
            ${_("Courses")}
        </a> -->

        <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${'courses'}">
            ${_("Courses")}
        </a>
    </li>
    % if show_program_listing:
	   <!--  <li>
	        <a class="${'active ' if reverse('program_listing_view') in request.path else ''}tab-nav-link" href="${reverse('program_listing_view')}">
	        ${_("Programs")}
	        </a>
	    </li> -->
	% endif
% endif

% if show_explore_courses:
	<li>
		<a class="tab-nav-link" href="${marketing_link('COURSES')}">${_('Courses')}</a>
	</li>
% endif

% if show_sysadmin_dashboard:
	<li>
		## Translators: This is short for "System administration".
		<a class="tab-nav-link" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
	</li>
% endif

% if should_display_shopping_cart_func() and not (course and static.is_request_in_themed_site()): # see shoppingcart.context_processor.user_has_cart_context_processor
	<li>
		<a class="shopping-cart" href="${reverse('shoppingcart.views.show_cart')}">
			<span class="icon fa fa-shopping-cart" aria-hidden="true"></span> ${_("Shopping Cart")}
		</a>
	</li>
% endif
<!-- <li>
	<a class="help-link" href="${help_link}" target="_blank">${_("Help")}</a>
</li> -->
<%include file="m_user_dropdown.html"/>