## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type
%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  restrict_enroll_for_course = course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
%>


<li>
    <!-- <a href="${'courses'}">${_("Courses")}</a> -->
    <a href="${reverse('courses')}">${_("Courses")}</a>
</li>
% if show_program_listing:
   <!--  <li>
        <a class="${'active ' if reverse('program_listing_view') in request.path else ''}tab-nav-link" href="${reverse('program_listing_view')}">
        ${_("Programs")}
        </a>
    </li> -->
% endif
% if allows_login:
    % if restrict_enroll_for_course:
        <li>
            <a href="${reverse('course-specific-register', args=[text_type(course.id)])}">${_("Register")}</a>
        </li>
        <li>
            <a href="${reverse('course-specific-login', args=[text_type(course.id)])}${login_query()}">${_("Sign in")}</a>
        </li>
    % else:
        % if allow_public_account_creation:
            <li>
                <a href="/register${login_query()}">${_("Register")}</a>
            </li>
        % endif
        <li>
            <a href="/login${login_query()}">${_("Sign in")}</a>
        </li>
    % endif
% endif