## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
from openedx.core.djangoapps.user_api.accounts.utils import retrieve_last_sitewide_block_completed
from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
%>

<%
## This template should not use the target student's details when masquerading, see TNL-4895
self.real_user = getattr(user, 'real_user', user)
profile_image_url = get_profile_image_urls_for_user(self.real_user)['medium']
username = self.real_user.username
resume_block = retrieve_last_sitewide_block_completed(username)
displayname = get_enterprise_learner_generic_name(request) or username
%>


% if resume_block:
<div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="${resume_block}" role="menuitem">${_("Resume your last course")}</a></div>
% endif
<li>
    <a href="${reverse('dashboard')}" role="menuitem">${_("Dashboard")}</a>
</li>
<li>
    <a href="${reverse('learner_profile', kwargs={'username': username})}" role="menuitem">${_("Profile")}</a>
</li>
<li>
    <a href="${reverse('account_settings')}" role="menuitem">${_("Account")}</a>
</li>
<li>
    <a href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a>
</li>

