{% load i18n %}

<nav class="administration-navbar">
  <div class="container">
    <a {% if admin == "course" %}class="selected"{% endif %} href="{% url 'courses:app' '' %}">{% trans "Courses" %}</a>
    <a {% if admin == "coupon" %}class="selected"{% endif %} href="{% url 'coupons:app' '' %}">{% trans "Coupons" %}</a>
    <!-- <a {% if admin == "program_offers" %}class="selected"{% endif %} href="{% url 'programs:offers:list' %}">
      {% trans "Program Offers" %}
    </a> -->
    <!-- <a {% if admin == "enterprise_offers" %}class="selected"{% endif %} href="{% url 'enterprise:offers:list' %}">
      {% trans "Enterprise Offers" %}
    </a> -->
  </div>
</nav>
