{% extends 'edx/partials/_base_navbar.html' %}
{% load i18n %}
{% load static %}

{% block navbar_brand %}
    {% if admin == "course" %}
        <a class="navbar-brand" href="{% url 'courses:app' '' %}">
            <img class="navbar-brand-logo" alt="{{ platform_name }} logo" src="http://lms.thames.edu.ph/static/k_thamesx/images/favicon.ico"/>
            <div class="navbar-brand-app">{% trans "E-Commerce Course Administration" %}</div>
        </a>
    {% elif admin == "coupon" %}
        <a class="navbar-brand" href="{% url 'coupons:app' '' %}">
            <img class="navbar-brand-logo" alt="{{ platform_name }} logo" src="http://lms.thames.edu.ph/static/k_thamesx/images/favicon.ico"/>
            <div class="navbar-brand-app">{% trans "E-Commerce Coupon Administration" %}</div>
        </a>
    {% elif admin == "program_offers" %}
        <a class="navbar-brand" href="{% url 'programs:offers:list' %}">
            <img class="navbar-brand-logo" alt="{{ platform_name }} logo" src="http://lms.thames.edu.ph/static/k_thamesx/images/favicon.ico"/>
            <div class="navbar-brand-app">{% trans "E-Commerce Program Offers Administration" %}</div>
        </a>
    {% else %}
        <h1 class="navbar-brand">
            <img class="navbar-brand-logo" alt="{{ platform_name }} logo" src="http://lms.thames.edu.ph/static/k_thamesx/images/favicon.ico"/>
        </h1>
    {% endif %}
{% endblock navbar_brand %}

{% block dropdown_menu %}
  {% include "courses/menu_options.html" %}
{% endblock dropdown_menu %}

{% block small_dropdown_menu %}
  {% include "courses/menu_options.html" with additional_class="visible-xs" %}
{% endblock small_dropdown_menu %}
