<div class="default_footer">
    <div class="container p-t-50 p-b-50">
        <div class="row">
            <div class="footer_logo col-sm-12 col-md-4">
            	<a class="f-link" href="/dashboard">
                	<img class="img" src="/static/k_thamesx/images/footer-thames-logo.png" alt="thamesx logo" title="thamesx logo" />
                </a>
            </div>
            <div class="footer_links col-sm-12 col-md-5">
                <h4 class="footer_title ff-Frank-Ruhl-Libre f-w-600 fc1">Links</h4>
                <div class="row m-t-20">
                    <div class="col-6">
                        <ul class="no-list-style p-0 m-0 ff-Nunito-Sans fc3 f-w-600">
                            <li class="p-t-10 p-b-10">
                                <a class="f-link" href="/about">
                                    About Us
                                </a>
                            </li>
                            <li class="p-t-10 p-b-10">
                                <a class="f-link" href="/courses">
                                    Find Courses
                                </a>
                            </li>
                            <li class="p-t-10 p-b-10">
                                <a class="f-link" href="https://www.thames.edu.ph/" target="_blank">
                                    Thames Website
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="no-list-style p-0 m-0 ff-Nunito-Sans fc3 f-w-600">
                            <li class="p-t-10 p-b-10">
                                <a class="f-link" href="/support/contact_us">
                                    Contact Us
                                </a>
                            </li>
                            <li class="p-t-10 p-b-10">
                                <a class="f-link" href="/tos">
                                    Terms of Service
                                </a>
                            </li>
                            <li class="p-t-10 p-b-10">
                                <a class="f-link" href="/privacy">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_social col-sm-12 col-md-3">
                <h4 class="footer_title ff-Frank-Ruhl-Libre f-w-600 fc1">Social Media</h4>
                <div class="row m-t-20">
	                	<div class="footer-social-box">
	                		<ul class="no-list-style social-links">
	                			<li>
	                				<a class="" href="javascript:void(0)">
	                					<i class="fab fa-facebook-f"></i>
	                                </a>
	                			</li>
	                			<li>
	                				<a class="" href="javascript:void(0)">
	                					<i class="fab fa-twitter"></i>
	                                </a>
	                			</li>
	                			<li>
	                				<a class="" href="javascript:void(0)">
	                					<i class="fab fa-instagram"></i>
	                                </a>
	                			</li>
	                			<li>
	                				<a class="" href="javascript:void(0)">
	                					<i class="fab fa-youtube"></i>
	                                </a>
	                			</li>
	                		</ul>
	                	</div>
            	</div>
            </div>
        </div>
    </div>
    <div class="copyright">
    	<div class="container p-t-0 p-b-0">
    		<div class="row">
    			<div class="col-sm-12 col-md-6">
    				<p class="copyright ff-Nunito-Sans fc5">© Copyright ThamesX Executive Education 2018. All rights reserved.</p>
				</div>
    			<div class="col-sm-12 col-md-6">
    				<p class="powered ff-Nunito-Sans fc5">Powered by Kolehiyo PH</p>
				</div>
			</div>
		</div>
    </div>
</div>