<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
from branding import api as branding_api
%>

<main id="main" aria-label="Content" tabindex="-1" class="homepage-main-section">
    <section class="home">
      <header id="header">
        <div class="container">
          <div class="outer-wrapper">
            <div class="row">
              <div class="col-md-5">
                <div class="banner-coverphoto-small">
                </div>
                <div class="title">
                  <div class="heading-group">
                    % if homepage_overlay_html:
                      ${homepage_overlay_html | n, decode.utf8}
                    % else:
                      <%include file="index_overlay.html" />
                    % endif
                  </div>
                  % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
                    <div class="course-search">
                      <form method="get" action="/courses">
                        <label>
                          <input class="search-input" name="search_query" type="text" placeholder="${_("What do you want to learn")}"></input>
                          <button class="search-button" type="submit">
                            <span class="icon fa fa-search" aria-hidden="true"></span>
                          </button>
                        </label>
                        
                      </form>
                    </div>
                  % endif
                    <span class="scroll-down scroll-down-label text-uppercase" target="#about_section">
                        <i class="icon"></i>
                        <label>Scroll to learn more</label>
                    </span>
                </div>
              </div>
              <div class="col-md-7">
                <div class="banner-coverphoto">
                </div>
              </div>
            </div>
            <%include file="index_promo_video.html" />
          </div>
        </div>
      </header>
      <section class="services-container clearfix" id="about_section">
        <div class="container">
          <section class="highlighted-courses clearfix">
            <h1 class="section-heading">Make the world <span class="highlighted">your classroom</span></h1>
            <span class="section-sub-heading">Balancing current theories with real world practices. Thames students apply their skills and knowledge in the real world by planning, implementing, and evaluating solutions to actual problems with the guidance of our distinguished list of lecturers. Thames International aims to develop business professionals who consistently make a positive impact on society.</span>
            <div class="row">
              <div class="col-md-4">
                <div class="service-item">
                    <div class="service-icon-wrapper clearfix">
                        <span class="service-icon credible-content"></span>
                    </div>
                    <span>Credible Content</span>
                    <p>ThamesX Executive Education provides all the details that you want to learn based on your chosen courses. </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-item">
                  <div class="service-icon-wrapper clearfix">
                      <span class="service-icon engaging-lectures"></span>
                  </div>
                  <span>Engaging Lectures</span>
                    <p>Aside from the lessons that you will gain, we also make the lectures more fun, exciting and easy to understand. </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-item">
                  <div class="service-icon-wrapper clearfix">
                      <span class="service-icon social-features"></span>
                  </div>
                  <span>Social Features</span>
                    <p>Aside from the lessons that you will gain, we also make the lectures more fun, exciting and easy to understand. </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>

      <%include file="${courses_list}" />

      <section class="student-testimonials clearfix">
        <div class="container">
          <section class="highlighted-courses clearfix">
            <h1 class="section-heading text-white">What Our Student Says</h1>
            <div class="owl-carousel">
                <div class="">
                  <div class="card">
                    <div class="card-block">
                      <span class="testimonial-quote"></span>
                      <div class="card-yazı">
                        <div class="">
                          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                              Quidem, quae culpa nihil earum quam eos numquam,
                              quod omnis provident accusamus. Lorem ipsum dolor.
                          </p>
                        </div>
                        <div class="card-sahip">
                            <div class="student-profile">
                                <span></span>
                            </div>
                            <div class="student-details text-left">
                                <label>Lorem Ipsum</label>
                                <p>Developer</p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                    <div class="card">
                      <div class="card-block">
                        <span class="testimonial-quote"></span>
                        <div class="card-yazı">
                          <div class="">
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Quidem, quae culpa nihil earum quam eos numquam,
                                quod omnis provident accusamus. Lorem ipsum dolor.
                            </p>
                          </div>
                          <div class="card-sahip">
                              <div class="student-profile">
                                  <span></span>
                              </div>
                              <div class="student-details text-left">
                                  <label>Lorem Ipsum</label>
                                  <p>Developer</p>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card">
                      <div class="card-block">
                        <span class="testimonial-quote"></span>
                        <div class="card-yazı">
                          <div class="">
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Quidem, quae culpa nihil earum quam eos numquam,
                                quod omnis provident accusamus. Lorem ipsum dolor.
                            </p>
                          </div>
                          <div class="card-sahip">
                              <div class="student-profile">
                                  <span></span>
                              </div>
                              <div class="student-details text-left">
                                  <label>Lorem Ipsum</label>
                                  <p>Developer</p>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </section>
        </div>
      </section>

    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
        $(function() {
          $('.scroll-down').click (function() {
            $('html, body').animate({scrollTop: $('#about_section').offset().top }, 'slow');
            return false;
          });
        });
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
         $(".owl-carousel").owlCarousel({
            center:true,
            loop:true,
            items:2,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:1
                },
                1000:{
                    items:2
                }
            }
        });

      });
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
