<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%def name="online_help_token()"><% return "courseware" %></%def>
<%!
from openedx.core.djangolib.js_utils import (
    js_escaped_string
)
%>
<%!
import waffle

from django.conf import settings
from django.urls import reverse
from openedx.core.lib.courses import course_image_url
from django.utils.translation import ugettext as _
%>


<%block name="pagetitle">${_('{course_number} Textbook').format(course_number=course.display_number_with_default)}</%block>
<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
<%static:js group='courseware'/>
</%block>


<script>
$(function(){
  $('.chapter').click(function(e){
    e.preventDefault();
    var url = $(this).attr('rel');
    $('#viewer-frame').attr({
        'src': '${request.path | n, js_escaped_string}?viewer=true&file=' + url + '#zoom=page-fit&disableRange=true',
        'title': $(this).text()
        });
    $('#viewer-frame').focus();
    Logger.log("textbook.pdf.chapter.navigated", {"name": "textbook.pdf.chapter.navigated", "chapter": url, "chapter_title": $(this).text()});
    });
});
</script>

<header class="page-header has-secondary" style="background-image: url('${course_image_url(course)}')">
    <div class="course-view-header-overlay">
        <div class="banner-background-image"  style="background-image: url('${course_image_url(course)}')"></div>
        <div class="container">
            <div class="page-header-main">
                <div class="row">
                    <div class="col-md-12">
                        <span class="course_code text-uppercase">${course.display_number_with_default | h}</span>
                        <h2 class="hd hd-3 page-title">${course.display_name_with_default_escaped}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="dashboard-nav-container">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="backtocourse-info">
            <span></span>
            <a href="${_("/courses/")}${course.id}${_("/course/")}">${_("Back to Course Info")}</a>
          </div>
        </div>
        <div class="col-md-9">
            <%include file="/courseware/course_navigation.html" args="active_page='pdftextbook/{0}'.format(book_index)" />
        </div>
      </div>
    </div>
</div>
<main id="main" aria-label="${_('Content')}" tabindex="-1">
    <div class="book-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="section-heading text-left">${textbook['tab_title']}</h1>
                </div>
                <div class="col-md-4">
                    %if 'chapters' in textbook:
                    <section class="book-sidebar" aria-label="${_('Textbook Navigation')}">
                        <ul id="booknav">
                        % for (index, entry) in enumerate(textbook['chapters']):
                        <li>
                            <a class="chapter" rel="${entry['url']}" href="#viewer-frame">${entry.get('title')}</a>
                        </li>
                        % endfor
                        </ul>
                    </section>
                    %endif
                </div>
                <div class="col-md-8">
                    <div class="book" style="width: 100%; display: block;">
                        <iframe style="width: 100%;"
                        title="${current_chapter['title']}"
                        id="viewer-frame"
                        src="${request.path}?viewer=true${viewer_params}"
                        width="856"
                        height="1108"
                        frameborder="0"
                        tabindex="-1"
                        seamless></iframe>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</main>
