<%page expression_filter="h"/>
<%namespace name='static' file='/static_content.html'/>
<%! from django.utils.translation import ugettext as _%>

<%
# set doc language direction
from django.utils.translation import get_language_bidi
dir_rtl = 'rtl' if get_language_bidi() else 'ltr'
course_mode_class = course_mode if course_mode else ''
%>

<!DOCTYPE html>
<html class="no-js" lang="${LANGUAGE_CODE}">
<head dir="${dir_rtl}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>${document_title}</title>

    <%static:css group='style-certificates'/>
    <style>
        .accomplishment-rendering .accomplishment-statement, .accomplishment-rendering .accomplishment-signatories{
            margin-bottom: .5rem !important;
            padding-bottom: .5rem !important;
        }
        .accomplishment-rendering .accomplishment-orgs {
            margin-bottom: .5rem !important;
        }
        .layout-accomplishment .accomplishment-orgs .wrapper-orgs{
            display: none!important;
        }
    </style>
</head>

<body class="layout-accomplishment view-valid-accomplishment ${dir_rtl} certificate certificate-${course_mode_class}" data-view="valid-accomplishment">

    <div class="wrapper-view" dir="${dir_rtl}">

        <%include file="_accomplishment-header.html" />

        <hr class="divider sr-only">

        ${self.body()}

        <hr class="divider sr-only">

        <%include file="_accomplishment-footer.html" />
    </div>

    <%include file="_assets-secondary.html" />
    %if badge:
        <%include file="_badges-modal.html" />
    %endif
</body>
</html>
