<%page args="section_data" expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="data-download-container action-type-container hidden">
  <div class="request-response-error msg msg-error copy" id="data-request-response-error"></div>


  <br>
  <p>${_("Click to display the grading configuration for the course. The grading configuration is the breakdown of graded subsections of the course (such as exams and problem sets), and can be changed on the 'Grading' page (under 'Settings') in Studio.")}</p>
  <p><input  class="button btn-default" type="button" name="dump-gradeconf" value="${_("Grading Configuration")}" data-endpoint="${ section_data['get_grading_config_url'] }"></p>

  <div class="data-display-text" id="data-grade-config-text"></div>
  <br>

  <p>${_("Click to download a CSV of anonymized student IDs:")}</p>
  <p><input type="button" name="list-anon-ids" value="${_("Get Student Anonymized IDs CSV")}" data-csv="true" class="csv button btn-default ${'is-disabled' if disable_buttons else ''}" data-endpoint="${ section_data['get_anon_ids_url'] }" aria-disabled="${'true' if disable_buttons else 'false'}" ></p>
</div>
<div id="student_list"></div>


<script type="text/javascript">
	(function (require) {
		require(["jquery"], function($) {
			var	__course = {
				table: "<table class='table course_students'><thead>",
				staff: {},

				getApiUrl: function(action){
					return "/courses/${course.id}/instructor/api/" + action;
				},

				setInstructor: function(data){
					var index, len;
					var _a = data.staff;
					for (index = 0, len = _a.length; index < len; ++index) {
					    __course.staff[index] = _a[index].email;
					}
					__course.getList();
				},

				renderList: function(data){
					var table = __course.renderHead(data).renderBody(data);
					$("#student_list").html(table);
				},

				renderHead: function(data){
					var _a = data.feature_names;
					console.log(_a);
					
					__course.table += '<td scope="col">'+_a.id+'</td>';
					__course.table += '<td scope="col">'+_a.username+'</td>';
					__course.table += '<td scope="col">'+_a.name+'</td>';
					__course.table += '<td scope="col">'+_a.email+'</td>';
					__course.table += '<td scope="col">'+_a.city+'</td>';
					__course.table += '<td scope="col">'+_a.country+'</td>';
					__course.table += '<td scope="col">'+_a.location+'</td>';
					__course.table += '<td scope="col">'+_a.mailing_address+'</td>';
					__course.table += '<td scope="col">'+_a.level_of_education+'</td>';
					__course.table += '<td scope="col">'+_a.enrollment_mode+'</td>';
					__course.table += '</thead>';
					return __course; 
				},

				renderBody: function(data){
					__course.table += '<tbody>';
					$.each(data.students, function( index, value ) {
						console.log(value);
						__course.table += '<tr>';
							__course.table += '<td>'+value.id+'</td>';
							__course.table += '<td>'+value.username+'</td>';
							__course.table += '<td>'+value.name+'</td>';
							__course.table += '<td>'+value.email+'</td>';
							__course.table += '<td>'+value.city+'</td>';
							__course.table += '<td>'+value.country+'</td>';
							__course.table += '<td>'+value.location+'</td>';
							__course.table += '<td>'+value.mailing_address+'</td>';
							__course.table += '<td>'+value.level_of_education+'</td>';
							__course.table += '<td>'+value.enrollment_mode+'</td>';
						__course.table += '</tr>';
					});
					__course.table += '</tbody></table>';
					return __course.table;
				},

				getList: function(){
					this.startAjax(this.getApiUrl('get_students_features'), '', this.renderList);
				},

				getListRoleMember: function(){
					this.startAjax(this.getApiUrl('list_course_role_members'), 'rolename=staff', this.setInstructor);
				},

				startAjax: function(_url, data, callbackFunction){
					$.ajax({
						type 	: 'POST',
						dataType: 'json',
						contentType:"application/x-www-form-urlencoded; charset=UTF-8",
						url 	: _url,
						data	: data,
			   	 		processData: false,
						beforeSend: function(){
						},
						success: function(responseData){
							callbackFunction(responseData);
						},
						error: function(data){
						},
						complete: function(data) {
						}
					});
				}
			};

			__course.getListRoleMember();
	  	});
  	}).call(this, require || RequireJS.require);
</script>