<%page expression_filter="h" args="section_data"/>

<%!
from django.utils.encoding import escape_uri_path
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>

<div>
    <p>
        <em>
            ${Text(_("For analytics about your course, go to {link_start}{analytics_dashboard_name}{link_end}.")).format(
                link_start=HTML('<a href="{dashboard_url}" target="_blank">').format(
                    dashboard_url=escape_uri_path('{base_url}/courses/{course_id}'.format(
                        base_url=settings.ANALYTICS_DASHBOARD_URL,
                        course_id=section_data['course_id'],
                    ))
                ),
                analytics_dashboard_name=settings.ANALYTICS_DASHBOARD_NAME,
                link_end=HTML('</a>')
            )}
        </em>
    </p>
</div>
