<%page args="section_data" expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
%>
<section id="set-course-mode-price-modal" class="modal" role="dialog" tabindex="-1" aria-labelledby="header-course-price">
    <h2 id="header-course-price" class="hd hd-2">${_("Set Course Mode Price")}</h2>
  <div class="inner-wrapper">
    <button class="close-modal">
      <span class="icon fa fa-remove" aria-hidden="true"></span>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_('Close')}
      </span>
    </button>

    <div id="course-content">
      <header>
        <h3 class="hd hd-3">${_("Set Course Mode Price")}</h3>
      </header>

      <div class="instructions">
        <p>
          ${_("Please enter Course Mode detail below")}</p>
      </div>

      <form id="set_price_form">
        <div id="course_form_error" class="modal-form-error"></div>
        <fieldset class="group group-form group-form-requiredinformation">
          <legend class="is-hidden">${_("Required Information")}</legend>

          <ol class="list-input">
            <li class="field required text" id="set-course-mode-modal-field-price">
              <label for="mode_price" class="required">${_("Course Price")}</label>
              <input class="field" id="mode_price" type="text" name="course_price" placeholder="${section_data['course_price']}" aria-required="true">
            </li>
            <li class="field required text" id="set-course-mode-modal-field-currency">
              <label for="course_mode_currency" class="required text">${_("Currency")}</label>
              <select class="field required" id="course_mode_currency" name="currency">
                <option value="usd">USD</option>
              </select>
            </li>
          </ol>
        </fieldset>
        <div class="submit">
          <input name="submit" type="button" id="set_course_button" value="${_('Set Price')}"/>
        </div>
      </form>
    </div>
  </div>
</section>
