.login-register-box {
	max-width: 557px;
	padding: 45px;
}
.login-register-footer p.copyright {
	text-align: left;
}
.login-register-footer p.poweredby {
	text-align: right;
}

.upload-course-image-modal-outer .upload-course-image-modal-inner {
	width: 750px;
}