body {
	min-width: 320px;
}
a:focus {
    outline: none;
}

.ff-Frank-Ruhl-Libre {
	font-family: 'Frank Ruhl Libre', serif;
}
.ff-Nunito-Sans {
	font-family: 'Nunito Sans', sans-serif;
}

.m-0 {margin: 0px !important;}
.m-5 {margin: 5px !important;}
.m-10 {margin: 10px !important;}
.m-15 {margin: 15px !important;}
.m-20 {margin: 20px !important;}
.m-25 {margin: 25px !important;}
.m-30 {margin: 30px !important;}
.m-35 {margin: 35px !important;}
.m-40 {margin: 40px !important;}
.m-45 {margin: 45px !important;}
.m-50 {margin: 50px !important;}

.m-r-0 {margin-right: 0px !important;}
.m-r-5 {margin-right: 5px !important;}
.m-r-10 {margin-right: 10px !important;}
.m-r-15 {margin-right: 15px !important;}
.m-r-20 {margin-right: 20px !important;}
.m-r-25 {margin-right: 25px !important;}
.m-r-30 {margin-right: 30px !important;}
.m-r-35 {margin-right: 35px !important;}
.m-r-40 {margin-right: 40px !important;}
.m-r-45 {margin-right: 45px !important;}
.m-r-50 {margin-right: 50px !important;}

.m-l-0 {margin-left: 0px !important;}
.m-l-5 {margin-left: 5px !important;}
.m-l-10 {margin-left: 10px !important;}
.m-l-15 {margin-left: 15px !important;}
.m-l-20 {margin-left: 20px !important;}
.m-l-25 {margin-left: 25px !important;}
.m-l-30 {margin-left: 30px !important;}
.m-l-35 {margin-left: 35px !important;}
.m-l-40 {margin-left: 40px !important;}
.m-l-45 {margin-left: 45px !important;}
.m-l-50 {margin-left: 50px !important;}

.m-t-0 {margin-top: 0px !important;}
.m-t-5 {margin-top: 5px !important;}
.m-t-10 {margin-top: 10px !important;}
.m-t-15 {margin-top: 15px !important;}
.m-t-20 {margin-top: 20px !important;}
.m-t-25 {margin-top: 25px !important;}
.m-t-30 {margin-top: 30px !important;}
.m-t-35 {margin-top: 35px !important;}
.m-t-40 {margin-top: 40px !important;}
.m-t-45 {margin-top: 45px !important;}
.m-t-50 {margin-top: 50px !important;}

.m-b-0 {margin-bottom: 0px !important;}
.m-b-5 {margin-bottom: 5px !important;}
.m-b-10 {margin-bottom: 10px !important;}
.m-b-15 {margin-bottom: 15px !important;}
.m-b-20 {margin-bottom: 20px !important;}
.m-b-25 {margin-bottom: 25px !important;}
.m-b-30 {margin-bottom: 30px !important;}
.m-b-35 {margin-bottom: 35px !important;}
.m-b-40 {margin-bottom: 40px !important;}
.m-b-45 {margin-bottom: 45px !important;}
.m-b-50 {margin-bottom: 50px !important;}


.p-0 {padding: 0px !important;}
.p-5 {padding: 5px !important;}
.p-10 {padding: 10px !important;}
.p-15 {padding: 15px !important;}
.p-20 {padding: 20px !important;}
.p-25 {padding: 25px !important;}
.p-30 {padding: 30px !important;}
.p-35 {padding: 35px !important;}
.p-40 {padding: 40px !important;}
.p-45 {padding: 45px !important;}
.p-50 {padding: 50px !important;}

.p-r-0 {padding-right: 0px !important;}
.p-r-5 {padding-right: 5px !important;}
.p-r-10 {padding-right: 10px !important;}
.p-r-15 {padding-right: 15px !important;}
.p-r-20 {padding-right: 20px !important;}
.p-r-25 {padding-right: 25px !important;}
.p-r-30 {padding-right: 30px !important;}
.p-r-35 {padding-right: 35px !important;}
.p-r-40 {padding-right: 40px !important;}
.p-r-45 {padding-right: 45px !important;}
.p-r-50 {padding-right: 50px !important;}

.p-l-0 {padding-left: 0px !important;}
.p-l-5 {padding-left: 5px !important;}
.p-l-10 {padding-left: 10px !important;}
.p-l-15 {padding-left: 15px !important;}
.p-l-20 {padding-left: 20px !important;}
.p-l-25 {padding-left: 25px !important;}
.p-l-30 {padding-left: 30px !important;}
.p-l-35 {padding-left: 35px !important;}
.p-l-40 {padding-left: 40px !important;}
.p-l-45 {padding-left: 45px !important;}
.p-l-50 {padding-left: 50px !important;}

.p-t-0 {padding-top: 0px !important;}
.p-t-5 {padding-top: 5px !important;}
.p-t-10 {padding-top: 10px !important;}
.p-t-15 {padding-top: 15px !important;}
.p-t-20 {padding-top: 20px !important;}
.p-t-25 {padding-top: 25px !important;}
.p-t-30 {padding-top: 30px !important;}
.p-t-35 {padding-top: 35px !important;}
.p-t-40 {padding-top: 40px !important;}
.p-t-45 {padding-top: 45px !important;}
.p-t-50 {padding-top: 50px !important;}

.p-b-0 {padding-bottom: 0px !important;}
.p-b-5 {padding-bottom: 5px !important;}
.p-b-10 {padding-bottom: 10px !important;}
.p-b-15 {padding-bottom: 15px !important;}
.p-b-20 {padding-bottom: 20px !important;}
.p-b-25 {padding-bottom: 25px !important;}
.p-b-30 {padding-bottom: 30px !important;}
.p-b-35 {padding-bottom: 35px !important;}
.p-b-40 {padding-bottom: 40px !important;}
.p-b-45 {padding-bottom: 45px !important;}
.p-b-50 {padding-bottom: 50px !important;}

.f-w-100 { font-weight: 100 !important; }
.f-w-200 { font-weight: 200 !important; }
.f-w-300 { font-weight: 300 !important; }
.f-w-400 { font-weight: 400 !important; }
.f-w-500 { font-weight: 500 !important; }
.f-w-600 { font-weight: 600 !important; }
.f-w-700 { font-weight: 700 !important; }
.f-w-800 { font-weight: 800 !important; }
.f-w-900 { font-weight: 900 !important; }

.fc0 {color: #a50d2d !important;}
.fc1 {color: #1a1a1a !important;}
.fc2 {color: #2e2e2e !important;}
.fc3 {color: #636363 !important;}
.fc4 {color: #b2b2b2 !important;}
.fc5 {color: #ffffff !important;}

.fs10 {font-size: 10px;}
.fs11 {font-size: 11px;}
.fs12 {font-size: 12px;}
.fs13 {font-size: 13px;}
.fs14 {font-size: 14px;}
.fs15 {font-size: 15px;}
.fs16 {font-size: 16px;}
.fs17 {font-size: 17px;}
.fs18 {font-size: 18px;}
.fs19 {font-size: 19px;}
.fs20 {font-size: 20px;}

.hidden {
	display: none !important;
}

.view-signin #main #content{
	background: url('/static/k_thamesx_cms/images/sign-in-bg.jpg');
	background-size: cover;
}

.login-register-box {
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	background: #ffffff;
	border-radius: 6px;
	margin: 50px auto 0px;
}

.login-page header h1.title {
	line-height: 1.2em;
	margin: 0;
	text-align: center;
}

.login-register-box form label {
	display: block;
	font-size: 12px;
}

.login-register-box form input {
	display: block;
	border: solid 2px #c1c1c1;
	border-radius: 0;
	width: 100%;
	background: #ffffff;
	height: 45px!important;
}

.login-register-box #field-password {
	position: relative;
}

.login-register-box .toggle-visible-password {
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 45px;
	width: 45px;
	font-size: 20px;
	text-align: center;
	line-height: 2.3em;
	color: #c1c1c1;
}

.login-register-box .action-primary {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 12px;
    background-color: #a50d2d !important;
    border: 0;
}

.login-register-box .action-primary:active,
.login-register-box .action-primary:focus,
.login-register-box .action-primary:hover {
    box-shadow: 5px 5px 23px 0px rgba(242, 137, 157, 0.5), inset 0 0 0 0px rgba(255, 255, 255, 0.1) !important;
}

.view-signup #main #content {
	background: url('/static/k_thamesx_cms/images/sign-in-bg.jpg');
	background-size: cover;
}

.container.loginfooter {
	padding: 70px 0px 0px 0px !important;
}

.login-register-footer {
	padding: 15px 0 50px;
}
.login-register-footer .footer-container {
	width: 100%;
	top: 25px;
}

.login-register-footer .container {
	padding: 0px !important;
}
.login-register-footer p.copyright,
.login-register-footer p.poweredby {
	font-size: 12px;
	text-align: center;
	line-height: 1.2em;
	padding: 5px 0;
}
.styled-checkbox {
	position: relative;
	height: 20px;
}
.styled-checkbox input {
	position: absolute;
	display: none !important;
}
.styled-checkbox input + label {
	margin-left: 28px;
	line-height: 1.8em;
}
.styled-checkbox input + label:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border: solid 2px #dadada;
	border-radius: 3px;
	background: #dadada;
	left: 0;
	top: 0;
}
.styled-checkbox input:checked + label:before {
	border: solid 2px #a50d2d;
	background: transparent;
}
.styled-checkbox input:checked + label:after {
	content: "\f00c";
	position: absolute;
	font-family: "FontAwesome";
	color: #a50d2d;
	left: 4px;
	top: -1px;
}

.uploadedFiles #root .SFE-wrapper .container > .row {
	background: transparent !important;
}
.uploadedFiles #root .SFE-wrapper .container {
	padding: 0 !important;
}

.not-signedin .wrapper-header .nav-pitch .action-signin {
	border: 2px solid #a50d2d;
	border-radius: 10px;
	padding: 13px 30px;
	background: #a50d2d;
	color: #fff!important;
	box-shadow: none!important;
	outline: none!important;
}
.not-signedin .wrapper-header .nav-pitch .action-signin:active,
.not-signedin .wrapper-header .nav-pitch .action-signin:focus,
.not-signedin .wrapper-header .nav-pitch .action-signin:hover {
	box-shadow: none!important;
	outline: none!important;
	border: 2px solid #a50d2d;
	background: #a50d2d;
}
.not-signedin .wrapper-header .nav-pitch .action-signup {
	border: 2px solid #a50d2d;
	border-radius: 10px;
	padding: 13px 30px;
	background: #ffffff;
	color: #2e2e2e;
	box-shadow: none!important;
	outline: none!important;
}
.not-signedin .wrapper-header .nav-pitch .action-signup:active,
.not-signedin .wrapper-header .nav-pitch .action-signup:focus,
.not-signedin .wrapper-header .nav-pitch .action-signup:hover {
    text-decoration: none;
    color: #fff !important;
	background: #a50d2d;
	box-shadow: none!important;
	outline: none!important
}
.CodeMirror.cm-s-default.CodeMirror-wrap {
	display: none;
}
.canvas_file_picker {
	border: 0;
	border-radius: 10px;
	padding: 50px 15px;
	color: #a8a8a8;
	text-align: center;
	margin-bottom: 15px;
	cursor: pointer;
}

.canvas_file_picker .canvas_file_picker_icon {
	font-size: 5em;
}

.canvas_file_picker .canvas_file_picker_caption {
	font-size: 14px;
	margin-top: 15px;
}

.canvas_file_picker .uploader-caption-1 {
	font-size: 28px;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 600;
}
.canvas_file_picker .uploader-caption-2 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.canvas_file_picker .uploader-caption-3 {
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #545454;
	height: 30px;
	width: 280px;
	border: 1px solid #dadada;
	background: #f1f1f1;
	margin: auto;
}

.lns-image-controls .lns-image-action {
	border: 1px solid #a50d2d;
	background: #a50d2d;
	color: #ffffff;
	padding: 5px 20px;
	border-radius: 7px;
	margin-right: 5px;
	margin-top: 15px;
	width: 137px;
	height: 47px;
}
.lns-image-controls .lns-image-action.cancel {
	border: 1px solid #a50d2d;
	background: #ffffff;
	color: #a50d2d;
}

.lns-image-controls .lns-image-action p i {
	font-size: 18px;
	margin-right: 10px;
}

.upload-course-image-card {

}

.upload-course-image-card .image-button {
	height: 50px;
    padding: 0px 37px;
    background: #ffffff;
	border: 0;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.13);
	box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.13);
	border-radius: 10px;
	margin-bottom: 30px;
	font-weight: 600;
}

.upload-course-image-card .image-button .button-icon {
	color: #a50d2d;
	margin-right: 10px;
	font-size: 18px;
}

.upload-course-image-card .divider-or {
	position: relative;
	border-top: 1px solid #d7d7d7;
	margin-bottom: 30px;
}

.upload-course-image-card .divider-or p {
	position: absolute;
	display: block;
	transition: all 300ms ease 0s;
	-webkit-transform: translate3d(-50%,-50%,0);
	-moz-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0);
	left: 50%;
	background: #ffffff;
	padding: 0px 15px;
	color: #d7d7d7;
}

.upload-course-image-card .theme-color {
    margin: 0px -6.5px;
}

.upload-course-image-card .theme-color .tc li {
	display: inline-flex;
	width: 40px;
	height: 40px;
	margin-left: 6.5px;
	margin-right: 6.5px;
	background: #e5e5e5;
	border-radius: 5px;
	cursor: pointer;
}

.upload-course-image-card .theme-color .tc li#tc-1 {
	background: #a50d2d;
}

.upload-course-image-card .theme-color .tc li#tc-2 {
	background: #e8b61d;
}
.upload-course-image-card .theme-color .tc li#tc-3 {
	background: #3b990e;
}
.upload-course-image-card .theme-color .tc li#tc-4 {
	background: #0098e4;
}
.upload-course-image-card .theme-color .tc li#tc-5 {
	background: #1d2a54;
}
.upload-course-image-card .theme-color .tc li#tc-6 {
	background: #fdaba3;
}
.upload-course-image-card .theme-color .tc li#tc-7 {
	background: #a3c5fd;
}
.upload-course-image-card .theme-color .tc li#tc-8 {
	background: #7cde98;
}
.upload-course-image-card .theme-color .tc li#tc-9 {
	background: #b2a3fd;
}
.upload-course-image-card .theme-color .tc li#tc-10 {
	background: #6d86a0;
}


.upload-course-image-card .upload-course-image-modal-outer .upload-course-image-modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 9999999;
}

.upload-course-image-modal-outer .upload-course-image-modal-inner {
	position: fixed;
	transition: all 300ms ease 0s;
	-webkit-transform: translate3d(-50%,-50%,0);
	-moz-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0);
	left: 50%;
	padding: 15px;
	background: #fafafa;
	z-index: 99999999;
	top: 50%;
}

.upload-course-image-modal-outer .upload-header {
	height: 60px;
}
.upload-course-image-modal-outer .upload-header p {
	font-size: 24px;
	font-weight: 600;
	color: #1a1a1a;
	float: left;
	margin: 16px 0px 0px 0px;
	font-family: 'Nunito Sans', sans-serif;
}
.upload-course-image-modal-outer .upload-header a {
	float: right;
	font-size: 20px;
	color: #a7a7a7;
	margin: 17px 15px 0px 0px;
}

.upload-header-tabs {
	margin: 0px -15px;
	padding: 0px 15px;
	border-bottom: solid 1px #d7d7d7;
}

.upload-header-tabs a {
	display: inline-block;
	padding: 20px 30px;
	color: #d7d7d7;
	font-size: 18px;
	margin-bottom: -1px;
	font-weight: 600;
	text-decoration: none;
}

.upload-header-tabs a.active {
	color: #a50d2d;
	border-top: solid 1px #a50d2d;
	border-left: solid 1px #a50d2d;
	border-right: solid 1px #a50d2d;
	border-bottom: solid 1px #ffffff;
	background: #ffffff;
}

.upload-course-image-modal-outer .upload-body {
	margin: 1px -15px -15px;
	background: #ffffff;
	padding: 15px;
}

#field-course-image .default_images {
	
}
#field-course-image .default_images .default_item {
	width: 20%;
	cursor: pointer;
	float: left;
	padding: 0px 15px 0px 15px;
}
#field-course-image .default_images .default_item img {
	width: 100%;
	height: auto;
}
#new-problem-editor {
	padding: 15px 0px;
}
#new-problem-editor label {
	font-family: 'Nunito Sans', sans-serif !important;
	font-size: 16px;
	font-weight: 400;
	color: #636363 !important;
	margin-bottom: 10px;
	margin-top: 20px;
}
#new-problem-editor input, 
#new-problem-editor textarea {
	font-family: 'Nunito Sans', sans-serif !important;
	font-size: 16px;
	height: 80px;
	padding: 10px;
	color: #333;
}

#new-problem-editor .choice_container {
	margin-top: 25px;
	padding-top: 15px;
	border-top: 1px solid #e5e5e5 !important;
}

#new-problem-editor .choice_container > .row {
	margin-top: 15px !important;
}

#new-problem-editor .add_new_choice {
	height: 45px;
	display: block;
	cursor: pointer;
	font-size: 16px;
	color: #a50d2d;
	padding: 15px 0px 0px 0px;
}

#new-problem-editor .removechoice {
	position: relative;
}

#new-problem-editor .remove_choice {
	color: #a50d2d;
	display: block;
	position: absolute;
	font-size: 20px;
	top: 14px;
}


.openassessment .step--response .response__submission {
	padding: 0px !important;
}

.openassessment .step--response .wrapper--step__content .step__content {

}

#openassessment_prompts_add_prompt,
.openassessment .step--response .wrapper--step__content .step__instruction,
.openassessment .step--response .step__actions,
.openassessment .step--response .response__submission > span,
.openassessment .step--response .response__submission .list--fields li:not(.submission__answer__part),
.openassessment .step--response .response__submission .list--fields .submission__answer__part__text,
.openassessment .step--response .response__submission .list--fields .submission__answer__part__text__title {
	display: none;
}

.openassessment .step--response .response__submission .list--fields .submission__answer__part .submission__answer__part__prompt {
	padding: 0;
	border: 0px !important;
}