<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from datetime import datetime
from django.conf import settings
import pytz
from cms.djangoapps.contentstore.config.waffle import waffle, ENABLE_ACCESSIBILITY_POLICY_PAGE
%>

<div class="wrapper-footer wrapper">
  <div class="">
    <footer class="primary" role="contentinfo">
      <div class="footer-content-primary">
        <nav class="nav-peripheral" aria-label="${_("Policies")}">
          <ol>
            % if is_marketing_link_set('TOS'):
              <li class="nav-item nav-peripheral-tos">
                <a data-rel="edx.org" href="${marketing_link('TOS')}">${_("Terms of Service")}</a>
              </li>
            % endif
            % if is_marketing_link_set('PRIVACY'):
              <li class="nav-item nav-peripheral-pp">
                <a data-rel="edx.org" href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
              </li>
            % endif
            % if waffle().is_enabled(ENABLE_ACCESSIBILITY_POLICY_PAGE):
              <li class="nav-item nav-peripheral-aar">
                <a data-rel="edx.org" href="${reverse('accessibility')}">${_("Accessibility Accommodation Request")}</a>
              </li>
            %endif
            <li class="nav-item">
              <a data-rel="edx.org" id="lms-link" href="${settings.LMS_ROOT_URL}">${_("ThamesX Documentation")}</a>
            </li>
            <li class="nav-item">
              <a data-rel="edx.org" id="lms-link" href="${settings.LMS_ROOT_URL}">${_("Open ThamesX Portal")}</a>
            </li>
            <li class="nav-item">
              <a data-rel="edx.org" id="lms-link" href="${settings.LMS_ROOT_URL}">${_("Help")}</a>
            </li>
          </ol>
        </nav>
        <div class="colophon">
          <span><b>${_("Powered by")}</b> ${_("Kolehiyo Ph")}</span>
          <p>&copy; Copyright ThamesX Executive Education ${datetime.now(pytz.timezone(settings.TIME_ZONE)).year}. All right reserved. </p>
        </div>
      </div>
  
      <!-- <div class="footer-content-secondary" aria-label="${_("Legal")}">
        <div class="footer-about-copyright">
          ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
          <p>
            ## Translators: 'EdX', 'edX', 'Studio', and 'Open edX' are trademarks of 'edX Inc.'. Please do not translate any of these trademarks and company names.
            ${_("EdX, Open edX, Studio, and the edX and Open edX logos are registered trademarks or trademarks of {link_start}edX Inc.{link_end}").format(
              link_start=u"<a data-rel='edx.org' href='https://www.edx.org/'>",
              link_end=u"</a>"
            )}
          </p>
        </div>
  
        <div class="footer-about-openedx">
          <a href="http://open.edx.org" title="${_("Powered by Open edX")}">
            <img alt="${_("Powered by Open edX")}" src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag.png">
          </a>
        </div>
      </div> -->
    </footer>
  </div>
  
</div>

