<%! from django.utils.translation import ugettext as _ %>

<div class="wrapper-comp-editor" id="editor-tab" data-base-asset-url="${base_asset_url}" data-editor="${editor}">
    <section class="html-editor editor">
      <div class="row">
          % if editor == 'visual':
            <textarea class="tiny-mce">${data | h}</textarea>
          % endif
          <textarea name="" class="edit-box">${data | h}</textarea>
      </div>
    </section>
</div>
<!-- <script>
  $(document).ready(function(){
    //code here...
    var code = $(".edit-box")[0];
    var editor = CodeMirror.fromTextArea(code, {
      lineNumbers : true,
      lineWrapping: true
    });

    setTimeout(function() {
        editor.refresh();
    },1);
  });
</script> -->
<%include file="metadata-edit.html" />
