## mako

<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%inherit file="../main.html"/>
<%namespace name='static' file='../static_content.html'/>

<%block name="title">
    <title>${_("Reset Your {platform_name} Password").format(platform_name=platform_name)}</title>
</%block>

<%block name="head_extra">
    <link type="text/css" rel="stylesheet" href="${STATIC_URL}paragon/static/paragon.min.css">
</%block>

<%block name="bodyclass">view-passwordreset</%block>

<%block name="body">
<div id="password-reset-confirm-container" class="login-register-content">
    <div class="login-register">
        % if validlink:
            ${static.renderReact(
                component="PasswordResetConfirmation",
                id="password-reset-confirm-react",
                props={
                    'csrfToken': csrf_token,
                    'errorMessage': err_msg if err_msg else '',
                },
            )}
        % else:
            <div class="status submission-error">
                <h4 class="message-title">${_("Invalid Password Reset Link")}</h4>
                <ul class="message-copy">
                    ${Text(_((
                        "This password reset link is invalid. It may have been used already. "
                        "To reset your password, go to the {start_link}sign-in{end_link} page and "
                        "select {start_strong}Forgot password{end_strong}."
                        ))).format(
                            start_link=HTML('<a href="/login">'),
                            end_link=HTML('</a>'),
                            start_strong=HTML('<strong>'),
                            end_strong=HTML('</strong>')
                        )
                    }
                </ul>
            </div>
        % endif
    </div>
</div>
</%block>
