## mako

<%namespace name='static' file='../static_content.html'/>

<%page expression_filter="h"/>

<%!
import json
from django.utils.translation import ugettext as _
from django.template.defaultfilters import escapejs
from django.urls import reverse


from openedx.core.lib.courses import course_image_url
from django_comment_client.permissions import has_permission
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML
%>
<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
<%static:js group='courseware'/>
</%block>


<section class="discussion discussion-board page-content-container" id="discussion-container"
         data-course-id="${course.id}"
         data-user-create-comment="${json.dumps(can_create_comment)}"
         data-user-create-subcomment="${json.dumps(can_create_subcomment)}"
         data-read-only="false"
         data-sort-preference="${sort_preference}"
         data-flag-moderator="${json.dumps(flag_moderator)}"
         data-user-group-id="${user_group_id}">
    <header class="page-header has-secondary" style="background-image: url('${course_image_url(course)}')">
        <div class="course-view-header-overlay">
            <div class="banner-background-image"  style="background-image: url('${course_image_url(course)}')"></div>
            ## Breadcrumb navigation
            <div class="container">
                <div class="page-header-main">
                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="${_('Discussions')}" class="sr-is-focusable" tabindex="-1">
                                <div class="has-breadcrumbs" style="display: none;"></div>
                            </nav>
                            <span class="course_code text-uppercase">${course.display_number_with_default | h}</span>
                            <h2 class="hd hd-3 page-title">${course.display_name_with_default_escaped}</h2>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <nav aria-label="${_('Discussions')}" class="sr-is-focusable" tabindex="-1">
                            <div class="has-breadcrumbs"></div>
                        </nav>
                    </div> -->
                </div>
            </div>
            <!-- <div class="page-header-secondary">
               
                <div class="forum-search"></div>
            </div> -->
        </div>
    </header>
    <div class="dashboard-nav-container">
        <div class="container">
            <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="backtocourse-info">
                <span></span>
                <a href="">${_("Back to Course Info")}</a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <%include file="/courseware/course_navigation.html" args="active_page='discussion'" />
            </div>
            </div>
        </div>
    </div>
    <!-- <div class="page-content" -->
    <div
      % if getattr(course, 'language'):
        lang="${course.language}"
      % endif
    >   
        <div class="discussion-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="discussion-section-heading clearfix">
                            <h1 class="section-heading text-left float-left">${_("Discussion")}</h1>
                            ## Add Post button
                                % if has_permission(user, 'create_thread', course.id):
                                <div class="forum-actions float-right">
                                    <button class="button btn-default btn-small new-post-btn">${_("Add a Post")}</button>
                                </div>
                            % endif
                            ## Search box
                        </div>
                    </div>
                    <div class="col-md-4">
                        <aside class="forum-nav" role="complementary" aria-label="${_("Discussion thread list")}">
                            <%include file="_filter_dropdown.html" />
                            <div class="discussion-thread-list-container"></div>
                        </aside>
                    </div>
                    <div class="col-md-8">
                        <main id="main" class="discussion-column" aria-label="Content" tabindex="-1">
                            <article class="new-post-article is-hidden" style="display: none" tabindex="-1" aria-label="${_("New topic form")}"></article>
                            <div class="forum-content"></div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%include file="_underscore_templates.html" />
<%include file="_thread_list_template.html" />
