@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,700,900');

/* base */
body{
    padding: 0px!important;
    margin: 0px!important;
    width: 100%!important;
    max-width: 100%!important;
    min-width: 100%!important;
    font-family: 'Nunito Sans', sans-serif !important;
    background-color: #f1f1f1;
    color: #333;
}

a,label,p,div,table,th,td{
    font-family: 'Nunito Sans', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Frank Ruhl Libre', serif !important;
}
p{
    line-height: 26px;
}

/* .btn{
    background: transparent!important;
} */
.btn,
.btn.is-disabled{
    text-shadow: none!important;
    border-radius: 9px!important;
    padding: 12px 17px!important;
    border: 0px!important;
    box-shadow: none!important;
    font-size: 16px!important;
    font-weight: 600!important;
    letter-spacing: 1px!important;
    font-family: 'Nunito Sans', sans-serif!important;
    outline: none!important;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover
.btn-primary.is-disabled
{
    background: #a50d2d!important;
    background-color: #a50d2d!important;
    color: #fff!important;
}
.btn-primary:hover{
    box-shadow: 5px 5px 23px 0px rgba(242, 137, 157, 0.5), inset 0 0 0 0px rgba(255, 255, 255, 0.1)!important;
    text-decoration: none!important;
}

#app.container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 8px !important;
}
/* nav */
.navbar{
    border: 0px!important;
}
/* footer */
footer.footer{
    border: 0px !important;
    background-color: #a50d2d !important;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif !important;
    padding-top: 15px !important;
    color: #fff;
    font-size: 14px;
    padding-bottom: 15px!important;
    height: unset!important;
    margin: 0px!important;
    font-style: normal;
}
.navbar .navbar-brand .navbar-brand-app{
    color: #333 !important;
    line-height: 34px;
}
.navbar-brand .navbar-brand-logo{
    height: 52px !important;
}
.course-create-edit-view .container,
.course-detail-view .container{
    width: 100%!important;
}

/* administration menu */
.administration-navbar div a{
    padding: 13px !important;
    border-bottom: 0px!important;
    color: #818181!important;
    font-weight: 400!important;
}
.administration-navbar div a.selected, 
.administration-navbar div a:active, 
.administration-navbar div a:focus, 
.administration-navbar div a:hover{
    border-bottom: 3px solid #a50d2d!important;
    color: #a50d2d;
}
.basket .container .total .use-voucher #id_code{
    height: 46px
}
.professional.course-seat .col-sm-4.seat-additional-info,
.course-types div.radio:nth-child(2),
.course-types div.radio:nth-child(4) {
	display: none;
}

