## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
import json

from django.conf import settings
from django.utils.translation import ugettext as _
from django.template.defaultfilters import escapejs
from django.urls import reverse

from django_comment_client.permissions import has_permission
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML
from openedx.features.course_experience import UNIFIED_COURSE_TAB_FLAG, SHOW_REVIEWS_TOOL_FLAG
from openedx.features.learner_analytics import ENABLE_DASHBOARD_TAB
from openedx.features.portfolio_project import INCLUDE_PORTFOLIO_UPSELL_MODAL
%>

<%block name="header_extras">
  <link rel="stylesheet" type="text/css" href="${static.url('paragon/static/paragon.min.css')}" />
</%block>

<%block name="content">
<div class="course-view page-content-container" id="course-container">

    % if ENABLE_DASHBOARD_TAB.is_enabled(course_key):
        ${static.renderReact(
          component="UpsellExperimentModal",
          id="upsell-modal",
          props={},
        )}
    % endif

    % if INCLUDE_PORTFOLIO_UPSELL_MODAL.is_enabled():
        ${static.renderReact(
            component="PortfolioExperimentUpsellModal",
            id="portfolio-experiment-upsell-modal",
            props={}
        )}
    % endif

    <header class="page-header has-secondary" style="background-image: url('')">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="page-header-main">
                        <nav aria-label="${_('Course Outline')}" class="sr-is-focusable" tabindex="-1">
                            <span class="text-uppercase">${course.display_number_with_default}</span>
                            <h2 class="hd hd-3 page-title">${course.display_name_with_default}</h2>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="page-header-secondary">
                        % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
                            <div class="page-header-search">
                                <form class="search-form input-group" role="search" action="${reverse('openedx.course_search.course_search_results', args=[course_key])}">
                                    <label class="field-label sr-only" for="search" id="search-hint">${_('Search the course')}</label>
                                    <input
                                            class="field-input input-text search-input form-control"
                                            type="search"
                                            name="query"
                                            id="search"
                                            placeholder="${_('Search the course')}"
                                    />
                                    <span class="input-group-btn">
                                        <button class="btn btn-outline-primary search-button" type="submit">${_('Search')}</button>
                                    </span>
                                </form>
                            </div>
                        % endif
                        <div class="form-actions">
                            % if resume_course_url:
                                <a class="btn btn-primary action-resume-course" href="${resume_course_url}">
                                    % if has_visited_course:
                                        <span data-action-type="resume">${_("Resume Course")}</span>
                                    % else:
                                        <span data-action-type="start">${_("Start Course")}</span>
                                    % endif
                                </a>
                            % endif
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="page-content-main">
                        <h3 class="hd-6 section-title">${_("Course info and updates")}</h3>
                        % if course_home_message_fragment:
                            ${HTML(course_home_message_fragment.body_html())}
                        % endif
            
                        % if update_message_fragment and UNIFIED_COURSE_TAB_FLAG.is_enabled(course.id):
                            <div class="section section-update-message">
                                ${HTML(update_message_fragment.body_html())}
                            </div>
                        % endif
            
                        % if outline_fragment:
                            ${HTML(outline_fragment.body_html())}
                        % endif
                    </div>
                </div>
                <div class="col-md-4">
                    <aside class="page-content-secondary course-sidebar">
                        
                        % if handouts_html:
                            <div class="section section-handouts">
                                <h3 class="hd-6 section-title">${_("Course Handouts")}</h3>
                                <div class="course-handout-html">
                                    ${HTML(handouts_html)}
                                </div>
                            </div>
                        % endif
                    </aside>
                </div>
            </div>
        </div>
        
        
    </div>
    % if course_sock_fragment:
        ${HTML(course_sock_fragment.body_html())}
    % endif
</div>
</%block>

<%static:webpack entry="CourseHome">
    new CourseHome({
        courseRunKey: "${course_key | n, js_escaped_string}",
        resumeCourseLink: ".action-resume-course",
        courseToolLink: ".course-tool-link",
        goalApiUrl: "${goal_api_url | n, js_escaped_string}",
        username: "${username | n, js_escaped_string}",
        courseId: "${course.id | n, js_escaped_string}",
    });
</%static:webpack>

<%static:webpack entry="Enrollment">
    new CourseEnrollment('.enroll-btn', '${course_key | n, js_escaped_string}');
</%static:webpack>
