## mako

<%namespace name='static' file='/static_content.html'/>
<%!
 from django.utils.translation import ugettext as _
 from django.urls import reverse
 %>
<%page args="tab_list, active_page, default_tab, tab_image" expression_filter="h" />

<%
def url_class(is_active):
  if is_active:
    return "active"
  return ""
%>
% for tab in tab_list:
  <%
    
    tab_is_active = tab.tab_id in (active_page, default_tab)
    tab_class = url_class(tab_is_active)
  %>
  % if tab.name == 'Course' or tab.name == 'Progress' or tab.name == 'Discussion':  
    <li class="tab">
      
      % if tab.name == 'Course':
        <a href="${_("/courses/")}${course.id}${_("/courseware/")}" class="${tab_class}">
        ${_("Modules")}
      % else:
        <a href="${tab.link_func(course, reverse)}" class="nav-link">
        ${_(tab.name)}
      % endif
      % if tab_is_active:
          <span class="sr">, current location</span>
      %endif
      % if tab_image:
          ## Translators: 'needs attention' is an alternative string for the
          ## notification image that indicates the tab "needs attention".
          <img src="${tab_image}" alt="${_('needs attention')}" />
      %endif
      </a>
    </li>
  %endif
% endfor

<%
material_count = 0;
%>
% for tab in tab_list:
  % if tab.name != 'Course' and tab.name != 'Progress' and tab.name != 'Discussion' and tab.name != 'Instructor' and tab.name != 'Wiki':  
    <%
      material_count += 1
    %>
  %endif
% endfor

<li class="tab" style="position:relative; cursor: pointer;">  
  <%
    if active_page == 'bookmarks':
      tab_class = url_class(True)
    else:
      tab_class = url_class(False)
  %>
  <a href="${reverse('openedx.course_bookmarks.home', args=[course.id])}" class="nav-link">
      ${_("Bookmarks")}
  </a>
</li>

<li class="tab" id="material-list" style="position:relative; cursor: pointer;">  
    % if material_count != 0:
      <span>${_("Study Materials")}</span><i class="icon fa fa-caret-down" aria-hidden="true"></i>
    % endif
    <ul class="material-nav-items">
      % for tab in tab_list:
        <%
          tab_is_active = tab.tab_id in (active_page, default_tab)
          tab_class = url_class(tab_is_active)
        %>
        % if tab.name != 'Course' and tab.name != 'Progress' and tab.name != 'Discussion' and tab.name != 'Instructor' and tab.name != 'Wiki':  
          <li class="text-left">
              <a href="${tab.link_func(course, reverse)}" class="nav-link">
                  ${tab.name}
              </a>
          </li>
        %endif
      % endfor
    </ul>
  </a>
</li>


% for tab in tab_list:
  <%
    tab_is_active = tab.tab_id in (active_page, default_tab)
    tab_class = url_class(tab_is_active)
  %>
  % if tab.name == 'Instructor':  
    <li class="tab">
      <a href="${tab.link_func(course, reverse)}" class="nav-link">
      % if tab.name == 'Course':
        ${_("Modules")}
      % else:
        ${_(tab.name)}
      % endif
      % if tab_is_active:
          <span class="sr">, current location</span>
      %endif
      % if tab_image:
          ## Translators: 'needs attention' is an alternative string for the
          ## notification image that indicates the tab "needs attention".
          <img src="${tab_image}" alt="${_('needs attention')}" />
      %endif
      </a>
    </li>
  %endif
% endfor
<script>
  $('.course-material .course-tabs .tab').on('click', function(e){
    if(this.id === 'material-list'){
      openMeterialList();
    }
  });

  function openMeterialList(){
    var materials = $('.material-nav-items');

    if(materials.hasClass('open')){
      materials.removeClass('open');
    }else{
      materials.addClass('open');
    }
  }
  /*$('#material-list').on('click', function(){
    var materials = $('.material-nav-items');

    if(materials.hasClass('open')){
      materials.removeClass('open');
    }else{
      materials.addClass('open');
    }
  });*/

  /*document.onclick = function(e){
      if(e.target.id !== 'material-list'){
        $('#material-list').removeClass('active');
        $('#material-list').find('.material-nav-items').hide();
      }
    }*/
</script>

