body.view-in-course .wrapper-preview-menu, .wrapper-preview-menu{
    display: none!important;
}

.instructor-dashboard-wrapper-2 main{
    background-color: transparent!important;
}
.instructor-dashboard-content-2{
    padding: 0px!important;
}