@media (min-width: 200px){
    .container {
        max-width: 540px!important;
    }
    .content-wrapper {
        padding: 0px 0px 0px;
    }

    .login-register{
        max-width: 600px!important;
        background-color: transparent;
    }
    .login-register .form-wrapper form{
        padding: 25px 25px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 10px 47px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255,255,255,0.75);
    }
    .login-register .form-field input{
        border: 2px solid #c1c1c1;
        height: 50px;
    }
    .login-register .form-field label{
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 5px;
        color: #636363;
    }
    .login-register .form-field{
        margin: 0px 0px 20px;
    }
    .login-register .action-primary{
        width: 100%;
        border-radius: 10px;
        padding: 12px;
        background-color: #a50d2d!important;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .login-register-content{
        padding-top: 40px;
        padding-bottom: 60px;
        margin: 0px;
        background-image: url(static/k_thamesx/images/login-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
    }
    .login-register-content h2{
        text-align: center;
        font-size: 36px;
        font-family: 'Frank Ruhl Libre', serif;
        font-weight: bold;
        color: #1a1a1a;
    }
    .login-register .toggle-form{
        text-align: center;
        margin-bottom: 25px;
        font-size: 16px;
    }
    .login-register .toggle-form a{
        color: #9b3d51;
        text-decoration: none;
    }
    .login-register .toggle-form a:hover{
        text-decoration: underline;
    }
    .login-register .form-field input.checkbox+label{
        text-transform: inherit;
        font-size: 18px;
        color: #2e2e2e;
    }
    .login-register .form-field .field-link{
        font-size: 18px;
        color: #9b3d51;
        font-weight: 600;
        position: absolute;
        right: 0px;
        bottom: -150px;
    }
    .login-register .form-field .tip{
        font-size: 12px;
        color: #9e9e9e;
    }
}
@media (min-width: 576px){
    .container {
        max-width: 540px!important;
    }
    .content-wrapper {
        padding: 0 35px 0px;
    }

    .login-register{
        max-width: 600px!important;
        background-color: transparent;
    }
    .login-register .form-wrapper form{
        padding: 40px 50px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 10px 47px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255,255,255,0.75);
    }
    .login-register .form-field input{
        border: 2px solid #c1c1c1;
        height: 50px;
    }
    .login-register .form-field label{
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 5px;
        color: #636363;
    }
    .login-register .form-field{
        margin: 0px 0px 20px;
    }
    .login-register .action-primary{
        width: 100%;
        border-radius: 10px;
        padding: 12px;
        background-color: #a50d2d!important;
        margin-top: 30px;
    }
    .login-register-content{
        padding-top: 40px;
        padding-bottom: 60px;
        margin: 0px;
        background-image: url(static/k_thamesx/images/login-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
    }
    .login-register-content h2{
        text-align: center;
        font-size: 44px;
        font-family: 'Frank Ruhl Libre', serif;
        font-weight: bold;
        color: #1a1a1a;
    }
    .login-register .toggle-form{
        text-align: center;
        margin-bottom: 45px;
        font-size: 20px;
    }
    .login-register .toggle-form a{
        color: #9b3d51;
        text-decoration: none;
    }
    .login-register .toggle-form a:hover{
        text-decoration: underline;
    }
    .login-register .form-field input.checkbox+label{
        text-transform: inherit;
        font-size: 18px;
        color: #2e2e2e;
    }
    .login-register .form-field .field-link{
        font-size: 18px;
        color: #9b3d51;
        font-weight: 600;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .login-register .form-field .tip{
        font-size: 12px;
        color: #9e9e9e;
    }
    
}
@media (min-width: 768px){
    .container {
        max-width: 720px!important;
    }
    .content-wrapper {
        padding: 0 80px 0px; 
    }
    .home>header{
        /* margin-right: -80px;
        margin-left: -80px; */
        padding: 0 80px;
        width: auto!important;
    }
    .home>.courses-container{
        /* margin-right: -80px;
        margin-left: -80px; */
        padding: 0px 80px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px!important;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px!important;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px!important;
    }
}


/* small devices (tablets, 466px and below)*/
@media (max-width: 466px) {
    #header {
        height: 92vh;
        margin-top: -30px;
    }

    .dashboard-nav-container .wrapper-course-material .course-material .course-tabs {
        width: 90% !important;
    }

    .idash-section {
        margin-top: 0px !important;
    }

    .instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add, .instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management-ccx .auth-list-container .member-list-widget input[type="button"].add {
        display: block !important;
        position: initial !important;
        margin-top: 16px;
        margin-left: auto;
    }

    .bottom-bar .add-field {
        width: 100% !important;
    }

    #membership.idash-section label {
        width: 100% !important;
    }

    #course_info .basic-wrapper .list-input li label {
        text-align: left !important;
    }

    #course_info .basic-wrapper .list-input li b {
        display: block;
        text-align: right;
        margin-right: 5px;
    }

    .idash-section {
        padding: 20px 20px !important;
    }

    .wrapper-messages-primary .message.message-status.course-status-certavailable .actions-primary .action-certificate .btn {
        padding: 0px !important;
    }

    .wrapper-messages-primary .message.message-status .verification-reminder {
        width: 100% !important;
    }
    
    .wrapper-messages-primary .message .message-title, .wrapper-messages-primary .message .message-copy .title {
        font-size: 18px !important;
    }

    .wrapper-messages-primary .message.message-status .message-copy {
        font-size: 15px !important;
    }
    
    .courses-container .courses-more { 
        margin-bottom: 16px !important;
    }

    .section-heading {
        margin-top: 16px;
        font-size: 20px;
        padding-bottom: 16px;
    }

    .service-item {
        margin-bottom: 28px;
    }

    .banner-coverphoto-small {
        background-image: url('/static/k_thamesx/images/homepage-coverphoto.png');
        height: 100%;
        display: block;
        margin-right: -16px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: -16px;
        margin-bottom: 32px;
        margin-top: -16px;
    }
    
    .dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title span,
    .dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title a {
        font-size: 15px;
        height: auto !important;
    }
    .courses-container .courses .course .course-info .course-title {
        font-size: 18px !important;
    }
    .dashboard .main-container .my-courses .course .details .wrapper-course-details .wrapper-course-actions {
        margin-right: 0px;
    }
    .dashboard .main-container .my-courses .course .details .enter-course {
        float: left;
        width: 100%;
    }
    .dashboard .main-container .my-courses .course .details .wrapper-course-image {
        margin-bottom: 15px;
    }
    .xmodule_display.xmodule_CapaModule div.problem .choicegroup legend {
        font-size: 19px;
    }
    .course-info .details .inner-wrapper {
        margin-right: 0px !important;
    }
    .updates-article .article-content h2 {
        font-size: 18px;
    }
    .material-nav-items {
        left: 0px;
    }

    .section-sub-heading{
        text-align: left;
    }

    .card-yazı p {
        text-align: left !important;
        font-size: 3.4vw !important;
    }

    .courses-container .courses .course .course-info .course-title {
        height: auto !important;
    }

    .courses-container .courses .course .course-info {
        height: auto !important;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 467px) AND (max-width: 767px) {
    
    .section-heading {
        font-size: 24px;
    }
    .dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title span,
    .dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title a {
        font-size: 15px;
        height: auto !important;
    }
    .dashboard .main-container .my-courses .course .details .wrapper-course-details .wrapper-course-actions {
        margin-right: 0px;
    }
    .courses-container .courses .course .course-info .course-title {
        font-size: 18px !important;
    }
    .course-info .details .inner-wrapper {
        margin-right: 0px !important;
    }
    .updates-article .article-content h2 {
        font-size: 18px;
    }
    .material-nav-items {
        left: 0px;
    }
}