body, .window-wrap {
	background: #e9ebee;
}
body, a, p {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
}
.ff-Frank-Ruhl-Libre {
	font-family: 'Frank Ruhl Libre', serif;
}
.ff-Nunito-Sans {
	font-family: 'Nunito Sans', sans-serif;
}

.img {
	width: 100%;
	height: auto;
}

a,
a:active,
a:focus,
a:hover {
	color: #2e2e2e;
}

.window-wrap {
	padding-top: 50px;
}
.noScroll {
	overflow: hidden;
}
.default_header {
	background: #ffffff;
	width: 100%;
	min-width: 320px;
	min-height: 55px;
	position: fixed;
	z-index: 100;
	top: 0;
}

.default_header .main-menu-button a {
	display: block;
	width: 26px;
	height: 26px;
	font-size: 28px;
	color: #a50d2d;
	margin: 13px 0px 0px 0px;
}

.modal-backround {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
}
.mobile-main-menu {
	transform: translate3d(-100%, 0px, 0px);
	transition: all 0.3s ease 0s;
}
.mobile-main-menu.active {
	transform: translate3d(0px, 0px, 0px);
	transition: all 0.3s ease 0s;
}
.mobile-main-menu .mobile-main-menu-box {
	width: calc(100% - 50px);
	position: absolute;
	left: 0px;
	right: 0px;
	height: 100%;
	overflow-y: auto;
	background: #ffffff;
}
.mobile-main-menu .mobile-main-menu-hide {
	position: absolute;
	width: 50px;
	right: 0;
	height: 100%;
}
.mobile-main-menu .mobile-main-menu-hide i {
	color: #ffffff;
	font-size: 28px;
	margin: 10px 0px 0px 10px;
	cursor: pointer;
}
.mobile-main-menu-box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mobile-main-menu-box ul li {
	height: 50px;
}
.mobile-main-menu-box ul li a {
	text-decoration: none;
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	color: #2e2e2e !important;
	font-family: 'Nunito Sans' !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.9em;
    padding: 0px 15px;
}
.mobile-main-menu-box ul li a:focus,
.mobile-main-menu-box ul li a:active,
.mobile-main-menu-box ul li a:hover {
	background: #a50d2d;
	color: #ffffff !important;
	text-decoration: none;
}


.btn {
	border: 2px solid #a50d2d;
	border-radius: 10px;
	padding: 17px 30px;
}

.btn:focus,
.btn:active,
.btn:hover {
	text-decoration: none !important;
	box-shadow: none;
}

.btn-prim {
	background: #a50d2d;
	color: #ffffff !important;
}

.btn-prim:focus,
.btn-prim:active,
.btn-prim:hover {
	color: #ffffff;
	-webkit-box-shadow: 9px 9px 52px -9px rgba(242,144,144,0.92);
	-moz-box-shadow: 9px 9px 52px -9px rgba(242,144,144,0.92);
	box-shadow: 9px 9px 52px -9px rgba(242,144,144,0.92);
}

.btn-prim-outline {
	background: #ffffff;
	color: #2e2e2e;
}

.btn-prim-outline:focus,
.btn-prim-outline:active,
.btn-prim-outline:hover {
	color: #a50d2d !important;
	background: #f8ecef;
}

.default_footer {
	background: #ffffff;
}

.m-0 {margin: 0px !important;}
.m-5 {margin: 5px !important;}
.m-10 {margin: 10px !important;}
.m-15 {margin: 15px !important;}
.m-20 {margin: 20px !important;}
.m-25 {margin: 25px !important;}
.m-30 {margin: 30px !important;}
.m-35 {margin: 35px !important;}
.m-40 {margin: 40px !important;}
.m-45 {margin: 45px !important;}
.m-50 {margin: 50px !important;}

.m-r-0 {margin-right: 0px !important;}
.m-r-5 {margin-right: 5px !important;}
.m-r-10 {margin-right: 10px !important;}
.m-r-15 {margin-right: 15px !important;}
.m-r-20 {margin-right: 20px !important;}
.m-r-25 {margin-right: 25px !important;}
.m-r-30 {margin-right: 30px !important;}
.m-r-35 {margin-right: 35px !important;}
.m-r-40 {margin-right: 40px !important;}
.m-r-45 {margin-right: 45px !important;}
.m-r-50 {margin-right: 50px !important;}

.m-l-0 {margin-left: 0px !important;}
.m-l-5 {margin-left: 5px !important;}
.m-l-10 {margin-left: 10px !important;}
.m-l-15 {margin-left: 15px !important;}
.m-l-20 {margin-left: 20px !important;}
.m-l-25 {margin-left: 25px !important;}
.m-l-30 {margin-left: 30px !important;}
.m-l-35 {margin-left: 35px !important;}
.m-l-40 {margin-left: 40px !important;}
.m-l-45 {margin-left: 45px !important;}
.m-l-50 {margin-left: 50px !important;}

.m-t-0 {margin-top: 0px !important;}
.m-t-5 {margin-top: 5px !important;}
.m-t-10 {margin-top: 10px !important;}
.m-t-15 {margin-top: 15px !important;}
.m-t-20 {margin-top: 20px !important;}
.m-t-25 {margin-top: 25px !important;}
.m-t-30 {margin-top: 30px !important;}
.m-t-35 {margin-top: 35px !important;}
.m-t-40 {margin-top: 40px !important;}
.m-t-45 {margin-top: 45px !important;}
.m-t-50 {margin-top: 50px !important;}

.m-b-0 {margin-bottom: 0px !important;}
.m-b-5 {margin-bottom: 5px !important;}
.m-b-10 {margin-bottom: 10px !important;}
.m-b-15 {margin-bottom: 15px !important;}
.m-b-20 {margin-bottom: 20px !important;}
.m-b-25 {margin-bottom: 25px !important;}
.m-b-30 {margin-bottom: 30px !important;}
.m-b-35 {margin-bottom: 35px !important;}
.m-b-40 {margin-bottom: 40px !important;}
.m-b-45 {margin-bottom: 45px !important;}
.m-b-50 {margin-bottom: 50px !important;}


.p-0 {padding: 0px !important;}
.p-5 {padding: 5px !important;}
.p-10 {padding: 10px !important;}
.p-15 {padding: 15px !important;}
.p-20 {padding: 20px !important;}
.p-25 {padding: 25px !important;}
.p-30 {padding: 30px !important;}
.p-35 {padding: 35px !important;}
.p-40 {padding: 40px !important;}
.p-45 {padding: 45px !important;}
.p-50 {padding: 50px !important;}

.p-r-0 {padding-right: 0px !important;}
.p-r-5 {padding-right: 5px !important;}
.p-r-10 {padding-right: 10px !important;}
.p-r-15 {padding-right: 15px !important;}
.p-r-20 {padding-right: 20px !important;}
.p-r-25 {padding-right: 25px !important;}
.p-r-30 {padding-right: 30px !important;}
.p-r-35 {padding-right: 35px !important;}
.p-r-40 {padding-right: 40px !important;}
.p-r-45 {padding-right: 45px !important;}
.p-r-50 {padding-right: 50px !important;}

.p-l-0 {padding-left: 0px !important;}
.p-l-5 {padding-left: 5px !important;}
.p-l-10 {padding-left: 10px !important;}
.p-l-15 {padding-left: 15px !important;}
.p-l-20 {padding-left: 20px !important;}
.p-l-25 {padding-left: 25px !important;}
.p-l-30 {padding-left: 30px !important;}
.p-l-35 {padding-left: 35px !important;}
.p-l-40 {padding-left: 40px !important;}
.p-l-45 {padding-left: 45px !important;}
.p-l-50 {padding-left: 50px !important;}

.p-t-0 {padding-top: 0px !important;}
.p-t-5 {padding-top: 5px !important;}
.p-t-10 {padding-top: 10px !important;}
.p-t-15 {padding-top: 15px !important;}
.p-t-20 {padding-top: 20px !important;}
.p-t-25 {padding-top: 25px !important;}
.p-t-30 {padding-top: 30px !important;}
.p-t-35 {padding-top: 35px !important;}
.p-t-40 {padding-top: 40px !important;}
.p-t-45 {padding-top: 45px !important;}
.p-t-50 {padding-top: 50px !important;}

.p-b-0 {padding-bottom: 0px !important;}
.p-b-5 {padding-bottom: 5px !important;}
.p-b-10 {padding-bottom: 10px !important;}
.p-b-15 {padding-bottom: 15px !important;}
.p-b-20 {padding-bottom: 20px !important;}
.p-b-25 {padding-bottom: 25px !important;}
.p-b-30 {padding-bottom: 30px !important;}
.p-b-35 {padding-bottom: 35px !important;}
.p-b-40 {padding-bottom: 40px !important;}
.p-b-45 {padding-bottom: 45px !important;}
.p-b-50 {padding-bottom: 50px !important;}

.f-w-100 { font-weight: 100 !important; }
.f-w-200 { font-weight: 200 !important; }
.f-w-300 { font-weight: 300 !important; }
.f-w-400 { font-weight: 400 !important; }
.f-w-500 { font-weight: 500 !important; }
.f-w-600 { font-weight: 600 !important; }
.f-w-700 { font-weight: 700 !important; }
.f-w-800 { font-weight: 800 !important; }
.f-w-900 { font-weight: 900 !important; }

.fc1 {color: #1a1a1a !important;}
.fc2 {color: #2e2e2e !important;}
.fc3 {color: #636363 !important;}
.fc4 {color: #b2b2b2 !important;}
.fc5 {color: #ffffff !important;}

.no-list-style {list-style: none;}
.center {margin-left: auto;margin-right: auto;}

.default_footer .footer_logo img {
	max-width: 300px;
}

.default_footer .footer_links a.f-link {
	color: #636363;
}

.default_footer > .copyright {
	background: #a50d2d;
	min-height: 50px;
}
.footer_title {
	margin: 0px!important;
    font-size: 20px!important;
}
.container {
	min-width: 320px;
}
.default_footer p.copyright,
.default_footer p.powered {
	font-size: 12px;
	text-align: center;
	margin: 7.5px 0px;
}
.default_footer .footer-social-box {
	background: #eeeded;
	padding: 15px 30px;
	border-radius: 10px;
	margin: auto;
}
.default_footer .footer-social-box .social-links {
	padding: 0;
	margin: 0;
}
.default_footer .footer-social-box .social-links li {
	display: inline-flex;
}
.default_footer .footer-social-box .social-links li > a {
	color: #a50d2d;
	display: block;
	padding: 15px;
	font-size: 18px;
}

.account-settings-sections .section .account-settings-section-body .u-field .u-field-message .u-field-message-notification {
	position: relative;
	left: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

#student_list {
	overflow-y: auto;
	min-height: 350px;
}

#student_list .table.course_students {
	width: auto;
}

#student_list .table.course_students td {
    white-space: nowrap;
}
.home > header .title {
    width: 100%;
	box-shadow: none;
	background-color: transparent;
	box-sizing: border-box;
	padding: 0;
	margin: 0px;
}
.home > header .outer-wrapper .heading-group h1{
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 25px!important;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 500;
    color: #1a1a1a;
}

.scroll-down-label {
	position: relative;
	margin: 20px auto;
	display: block;
	width: 183px;
}

.section-sub-heading{
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: -20px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #1a1a1a;
}

.banner-coverphoto {
    background-image: url('/static/k_thamesx/images/homepage-coverphoto.png');
    height: 100%;
    display: none;
    margin-right: -80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 30px;
}


.banner-coverphoto-small {
    display: none;
}

.homepage-main-section .service-item p {
    font-size: 18px;
    display: block;
    color: #353535;
    text-align: center;
    font-weight: 300;
    margin-left: 0px;
    margin-right: 0px;
}

.listing-courses .course-item .wrapper-course-details .course-info {
	position: absolute;
	left: 0px;
}

.section-heading {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Frank Ruhl Libre', serif;
    color: #1a1a1a;
}

.welcome-message, .updates-article {
    padding: 20px;
    border: solid 2px #e7e7e7;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    line-height: 28px;
    font-size: 18px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.page-header.has-secondary .container {
	padding: 0px !important;
	height: inherit;
	width: 100% !important;
}

.page-header .page-header-main .page-title {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 28px;
    color: #fff;
    font-weight: 500 !important;
    line-height: 44px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.content-wrapper #course-info-progress {
    background-color: transparent !important;
	padding: 0px 15px;
	overflow: auto;
	max-width: 100%;
}
.content-wrapper #course-info-progress #grade-detail-graph {
	min-width: 767px;
}
.wrapper-course-material .course-material {
    overflow: visible !important;
}

.dashboard-nav-container .wrapper-course-material .course-tabs .tab span, 
.dashboard-nav-container .wrapper-course-material .course-tabs .tab a {
    font-size: 18px;
    padding: 18px 15px 18px 0px !important;
    border-bottom: 0px!important;
    color: #818181!important;
    font-weight: 400!important;
    display: inline-block;
}
.dashboard-nav-container .wrapper-course-material .course-tabs .tab .material-nav-items > li > a {
    padding: 18px 15px 18px 15px !important;
}

.course-wrapper .course-content {
	display: block !important;
}
.course-wrapper .course-content, 
.course-wrapper .courseware-results-wrapper {
	width: 100% !important;
	margin-top: 0px;
}

.course-wrapper .course-content .chapter-section-title, 
.course-bookmarks.courseware-results-wrapper h1 {
    font-size: 24px;
    font-family: 'Frank Ruhl Libre', serif!important;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.view-profile .wrapper-profile-sections {
    padding: 0px!important;
    margin-top: 29px;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
.view-profile .profile-image-field .image-wrapper .image-frame {
    width: 170px!important;
    height: 170px!important;
    border-radius: 50%;
    margin-bottom: 0px;
}
.view-profile .profile-self .wrapper-profile-field-account-privacy {
    padding: 0px!important;
    border: 0px;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 0px;
}
.view-profile .wrapper-profile-section-container-two .u-field-message .message-can-edit {
    position: absolute;
    font-size: 18px;
    display: block;
    top: 6px;
}
.view-profile .wrapper-profile-section-container-two .mode-placeholder .u-field-message .message-can-edit {
    left: calc(50% - 96px);
}
.view-profile .wrapper-profile-section-container-two .mode-display .u-field-message .message-can-edit {
	left: 144px;
}
.view-profile .wrapper-profile-section-container-two .u-field.mode-placeholder {
    padding: 15px;
}
.view-profile .wrapper-profile-section-container-two .wrapper-profile-bio .u-field.mode-placeholder {
    padding: 15px !important;
}

.material-nav-items {
    position: absolute;
    z-index: 100;
    background-color: #fff;
    box-shadow: 2px 3px 9px 0px rgba(1,1,1,.1);
    width: 250px;
    top: 50px;
    display: none !important;
    list-style: none;
    margin: 0px;
}
.material-nav-items.open{
    display: block!important;
}

.dashboard-nav-container .backtocourse-info span {
    background-image: url('/static/k_thamesx/images/arrow-left-red.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
    display: block;
    position: absolute;
    top: 24px;
}
.dashboard-nav-container .backtocourse-info a {
    padding: 18px 15px!important;
    display: block;
    margin-left: 20px;
    color: #2d2d2d!important;
    font-size: 18px;
    font-weight: 600;
}

@media ALL and (max-width: 767px) {
	.material-nav-items {
    	left: 0px;
	}
	.account-settings-container .account-settings-sections .section .row {
		margin-right: -15px !important;
    	margin-left: -15px !important;
	}
	.main-container > .container {
		padding: 15px 0px !important;
	}
	.view-profile .wrapper-profile-section-container-two {
	    margin-top: 0px;
	}
	.view-profile .wrapper-profile-section-container-two .wrapper-profile-bio .u-field {
	    padding: 0 0 0 0 !important;
	}
	.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one .profile-section-one-fields > .u-field.u-field-username {
		display: none;
	}
	.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one .profile-section-one-fields > .u-field:not(:first-child) {
	    padding-top: 4px !important;
	}
	.wrapper-profile .profile .container > div {
		   padding-left: 15px !important;
    	padding-right: 15px !important;
	}
	.wrapper-profile-sections > .row {
		margin-right: -15px !important;
    	margin-left: -15px !important;
	}
	.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one .profile-section-one-fields {
	    margin: 0px;
	}
	.xmodule_display.xmodule_SequenceModule .sequence-bottom {
		margin-bottom: 0px !important;
	}
	.course-wrapper .courseware-results-wrapper {
	    display: none !important;
	}
	.xmodule_display.xmodule_SequenceModule .sequence-nav .sequence-list-wrapper {
		display: none;
	}
	.view-progress .profile-wrapper {
		overflow: auto;
	}
	.wrapper-course-material .course-tabs .tab {
		float: left;
	}
	
	#dashboard-main > .container {
		padding: 20px 0px !important;
	}
	.dashboard .main-container .my-courses .course .details .wrapper-course-details .wrapper-course-actions {
		margin-top: -5px;
	}
	.course-item .details > .row {
		margin-left: -15px;
		margin-right: -15px;
	}

	.dashboard .main-container .my-courses .course .details {
		padding-left: 0px;
	}

	.discussion-body .container,
	#course-bookmark .container,
	#main .container,
	.course-wrapper .container {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}
	#about_section .container {
		padding: 15px !important;
	}
	.course-wrapper .course-content .chapter-section-title {
		margin-top: 40px;
		padding-right: 40px;
	}
	.course-wrapper .courseware-results-wrapper {
		display: none !important;
	}

	.header_logo {
		position: fixed;
		width: 100%;
		text-align: center;
		pointer-events: none;
		left: 0;
		top: 22px;
	}
	.header_logo a {
		pointer-events: auto;
	}
	.header_logo .logo {
		width: auto !important;
		height: 40px;
	}

	.default_header .container {
		max-width: 100%;
	}
	.default_header .container .large-hidden.main-menu-button a {
		display: block;
		margin: 4px 0px 7px 0px;
	}
	
	.default_header .container .large-hidden.main-menu-button a i {
		display: block;
		margin-top: -3px;
	}

	.mobile-hidden {
		display: none;
	}
	.default_footer > .container {
		padding-top: 15px !important;
    	padding-bottom: 15px !important;
	}
	.default_footer .footer_logo {
		text-align: center;
		margin-bottom: 30px;
	}
	.default_footer .footer_links {
		margin-bottom: 30px;
	}
	.container .row {
		margin-right: 0px;
		margin-left: 0px;
	}
	.mobile-main-menu-box .mobile-nav-item {
		display: none;
    }
    
    .updates-article > p > a {
        overflow-wrap: break-word;
    }
}
@media ALL and (max-width: 466px) {
	.listing-courses .course-item .wrapper-course-details .course-info {
        position: inherit !important;
        margin-bottom: 12px;
	}
	.dashboard .main-container .my-courses .course .details .wrapper-course-details .wrapper-course-actions {
		margin-top: auto;
	}
	.dashboard .main-container .my-courses .course .details .enter-course {
		float: left;
	}
}

@media ALL and (max-width: 360px) {
	.material-nav-items {
	    left: -105px;
	}
}