.header_logo {
    margin-top: -9px;
}

.large-hidden {
	display: none;
}
.window-wrap {
	padding-top: 150px;
}
.default_header {
	height: 100px;
}
.default_header .l_main_menu_container{
	position: absolute;
	right: 0;
	top: 10px;
}
.default_header .l_main_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
.default_header .l_main_menu li {
	display: inline-flex;
	padding: 0px 20px;
}
.default_header .l_main_menu li:not(:last-child){
	
}
.default_header .l_main_menu li > a {
	font-weight: 600;
	color: #2e2e2e;
}
.default_header .l_main_menu li > a:active,
.default_header .l_main_menu li > a:focus,
.default_header .l_main_menu li > a:hover {
	text-decoration: underline;
}
.default_header .container {
	padding-top: 26px;
}
.default_header .profile-pic {
	position: relative;
}
.default_header .profile-pic a {
	text-decoration: none;
	display: block;
	position: absolute;
	top: -7px;
	z-index: 3;
}
.default_header .profile-pic .users_name {
	display: block;
	height: 30px;
	padding: 0px 10px 0px 20px;
	background: #eeeded;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-left: 39px;
	line-height: 1.9em;
	font-weight: 600;
	position: relative;
	cursor: pointer;
}
.default_header .profile-pic .dropdown-menu {
	margin-top: 15px;
	border: 0;
	border-radius: 0;
	padding-bottom: 0;
	box-shadow: 0px 3px 12px 1px rgba(1,1,1,.1);
}
.default_header .profile-pic .dropdown-menu a {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #2e2e2e;
}
.default_header .profile-pic .username {
	color: #2e2e2e;
}
.default_header .profile-pic a .user-image-frame {
	height: 45px;
	width: 45px;
	border-radius: 22px;
}
.default_header .profile-pic .users_name .dropdownmenu {
	margin: 0px 0px 0px 10px;
	width: 30px;
	display: block;
	float: right;
	text-align: center;
	cursor: pointer;
	color: #656565;
}
.default_header .registerlink > a,
.default_header .signinlink > a {
	display: block;
	margin-top: -15px;
}

.default_header li.registerlink > a:active,
.default_header li.registerlink > a:focus,
.default_header li.registerlink > a:hover {
	color: #ffffff !important;
}

.default_footer p.copyright {
	text-align: left;
	margin-top: 12px;
}
.default_footer p.powered {
	text-align: right;
	margin-top: 12px;
}

.default_footer .footer-social-box {
	margin: 0px 15px;
}

.home > header .outer-wrapper .heading-group h1{
    font-size: 58px;
    line-height: 62px;
    margin-bottom: 25px;
}
.home > header .title {
    width: 100%!important;
    margin-left: 0px!important;
    padding: 0px!important;
    box-shadow: none;
    background-color: transparent;
    margin-top: 180px;
    margin-bottom: 80px;
}

.scroll-down-label {
    margin: 80px 0px 0px 0px;
}

.section-sub-heading{
    width: 790px;
}

.banner-coverphoto {
	display: block;
}

.homepage-main-section .service-item p {
    margin-left: 41px;
    margin-right: 41px;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-details .wrapper-course-actions{
    margin-top: 5px !important;
}

.section-heading {
    margin-bottom: 40px;
}

.welcome-message, .updates-article {
    padding: 25px 30px;
}

.page-header .page-header-main .page-title {
    font-size: 48px;
}

.page-header.has-secondary .container{
    width: 1200px!important;
}

.content-wrapper #course-info-progress{
    padding: 0px;
}
.dashboard-nav-container .wrapper-course-material .course-tabs .tab span, 
.dashboard-nav-container .wrapper-course-material .course-tabs .tab a {
    padding: 18px 15px!important;
}

.course-wrapper .course-content, 
.course-wrapper .courseware-results-wrapper {
    display: block!important;
}

.course-wrapper .course-content .chapter-section-title, 
.course-bookmarks.courseware-results-wrapper h1 {
    font-size: 30px;
}

.view-profile .wrapper-profile-sections {
    padding: 0px!important;
    margin-top: 60px;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
.view-profile .profile-image-field .image-wrapper .image-frame {
    margin-bottom: 20px;
}
.view-profile .profile-self .wrapper-profile-field-account-privacy {
    margin-bottom: 0px;
}
.material-nav-items {
	right: 0px;
}
.dashboard-nav-container .backtocourse-info a {
    padding: 18px 15px!important;
    display: block;
    margin-left: 20px;
    color: #2d2d2d!important;
    font-size: 18px;
    font-weight: 600;
}

@media ALL and (min-width: 768px) {
	.default_footer .footer_logo {
		position: relative;
	}
	.default_footer .footer_logo img {
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		width: calc(100% - 30px);
	}
}

@media ALL and (max-width: 1199px) {
	.home > header .outer-wrapper .heading-group h1 {
		font-size: 28px;
		line-height: 35px;
	}
	.course-item .details > .row > .col-md-8 {
		padding: 0px;
	}
}

@media ALL and (max-width: 1180px) {
	.container {
		padding: 40px 15px;
	}
}

@media ALL and (max-width: 991px) {
	.dashboard .main-container .my-courses .course .details .wrapper-course-details .course-info .info-date-block-container {
		display: none;
	}
	.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
	    width: 100%;
	}
	.dashboard-nav-container .wrapper-course-material .course-tabs .tab span, 
	.dashboard-nav-container .wrapper-course-material .course-tabs .tab a {
	    padding: 18px 6px !important;
	}
}

@media ALL and (min-width: 768px ) and (max-width: 991px) {
	.dashboard-nav-container .backtocourse-info a {
		padding: 20px 0px !important;
	    white-space: nowrap;
	    margin-left: 0;
	    font-size: 17px !important;
	}
	.dashboard-nav-container .backtocourse-info span {
	    display: none;
	}
}

