<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()"><% return "accessibility" %></%def>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.markup import HTML, Text
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%block name="title">${_("Studio Accessibility Policy")}</%block>
<%block name="bodyclass">is-signedin not-signedin view-accessibility</%block>

<%namespace name='static' file='static_content.html'/>

<%block name="header_extras">
    % if not settings.STUDIO_FRONTEND_CONTAINER_URL:
        <link rel="stylesheet" type="text/css" href="${static.url('common/css/vendor/common.min.css')}" />
        <link rel="stylesheet" type="text/css" href="${static.url('common/css/vendor/accessibilityPolicy.min.css')}" />
    % endif
</%block>

<%block name="content">

<div class="wrapper-content wrapper">
     <div class="content">
        <div class="content-primary">
            <div id="root" class="SFE test"></div>
            <%static:studiofrontend entry="accessibilityPolicy">
            {
              "lang": "${language_code | n, js_escaped_string}"
            }
            </%static:studiofrontend>
        </div>
    </div>
</div>

</%block>
