<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()"><% return "files" %></%def>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.markup import HTML, Text
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%block name="title">${_("Files & Uploads")}</%block>
<%block name="bodyclass">is-signedin course uploads view-uploads</%block>

<%namespace name='static' file='static_contents/assets.html'/>

<%block name="header_extras">
    % if not settings.STUDIO_FRONTEND_CONTAINER_URL:
        <link rel="stylesheet" type="text/css" href="${static.url('common/css/vendor/common.min.css')}" />
        <link rel="stylesheet" type="text/css" href="${static.url('common/css/vendor/assets.min.css')}" />
    % endif
</%block>

<%block name="content">

<div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
        <h2 class="page-header">
            <small class="subtitle">${_("Content")}</small>
            <span class="sr">- </span>${_("Files & Uploads")}
        </h2>
    </header>
</div>

<div class="wrapper-content wrapper">
    <div class="content uploadedFiles">
        <%static:optional_include_mako file="asset_index_content_header.html" />
        <%static:studiofrontend entry="assets">
            {
                "lang": "${language_code | n, js_escaped_string}",
                "course": {
                    "id": "${context_course.id | n, js_escaped_string}",
                    "name": "${context_course.display_name_with_default | n, js_escaped_string}",
                    "url_name": "${context_course.location.name | n, js_escaped_string}",
                    "org": "${context_course.location.org | n, js_escaped_string}",
                    "num": "${context_course.location.course | n, js_escaped_string}",
                    "display_course_number": "${context_course.display_coursenumber | n, js_escaped_string}",
                    "revision": "${context_course.location.revision | n, js_escaped_string}"
                },
                "help_tokens": {
                    "files": "${get_online_help_info(online_help_token())['doc_url'] | n, js_escaped_string}"
                },
                "upload_settings": {
                    "max_file_size_in_mbs": ${max_file_size_in_mbs|n, dump_js_escaped_json}
                }
            }
        </%static:studiofrontend>      
    </div>
</div>

<script type="text/javascript">
    /*var  __count = 0;
    var __interval = null;

    function myTimer() {
        var row1 = $(".uploadedFiles #root .SFE-wrapper .container .row:nth-child(1) > div:nth-child(1)");
        var row2 = $(".uploadedFiles #root .SFE-wrapper .container .row:nth-child(2) > div:nth-child(1)");
        var row3 = $(".uploadedFiles #root .SFE-wrapper .container .row:nth-child(3) > div:nth-child(1)");
        var row5 = $(".uploadedFiles #root .SFE-wrapper .container .row:nth-child(5) > div:nth-child(1)");

        var div1 = $(".uploadedFiles #root .SFE-wrapper .container .row:nth-child(4) > div:nth-child(1)");
        var div2 = $(".uploadedFiles #root .SFE-wrapper .container .row:nth-child(4) > div:nth-child(2)");

        var divContent = $(".uploadedFiles #root .SFE-wrapper .container .row:nth-child(4) > div:nth-child(2) > div");

        if(div1.hasClass('col-sm-3') && div2.hasClass('col-sm-9')){
            clearInterval(__interval);
        } else {
            row1.addClass('p-l-15 p-r-15');
            row2.removeClass('p-0');
            row2.addClass('p-l-15 p-r-15');

            row3.removeClass('col-10 offset-2');
            row3.addClass('col-9 offset-3 p-l-15 p-r-15');

            row5.removeClass('col-10 offset-2');
            row5.addClass('col-9 offset-3 p-l-15 p-r-15');


            div1.removeClass('col');
            div1.addClass('col-sm-3 col-md-3');
            div2.removeClass('col-10');
            div2.addClass('col-sm-9 col-md-9');
            divContent.removeClass('row');
            __count++
            console.log(__count);
        }
    }

    $( document ).ready(function() {
        __interval = setInterval(myTimer, 1000);
    });*/
</script>

</%block>

