<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()"><% return "updates" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)
%>

## TODO decode course # from context_course into title.
<%block name="title">${_("Course Updates")}</%block>
<%block name="bodyclass">is-signedin course course-info updates view-updates</%block>

<%block name="header_extras">
<link rel="stylesheet" type="text/css" href="${static.url('js/vendor/timepicker/jquery.timepicker.css')}" />
% for template_name in ["course_info_update", "course_info_handouts"]:
  <script type="text/template" id="${template_name}-tpl">
    <%static:include path="js/${template_name}.underscore" />
  </script>
% endfor
  <script src="//cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
</%block>

<%block name="requirejs">
  require(["js/factories/course_info"], function(CourseInfoFactory) {
      CourseInfoFactory(
        "${updates_url | n, js_escaped_string}",
        "${handouts_locator | n, js_escaped_string}",
        "${base_asset_url | n, js_escaped_string}",
        ${push_notification_enabled | n, dump_js_escaped_json}
       );
  });
</%block>

<%block name="content">
  <div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <h1 class="page-header">
            <span class="sr">&gt; </span>${_("Announcements")}
          </h1>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <nav class="nav-actions" aria-label="${_('Page Actions')}">
            <h3 class="sr">${_('Page Actions')}</h3>
            <ul>
              <li class="nav-item">
                <a href="#" class="btn-default button new-button new-update-button" disabled><span class="icon fa fa-plus" aria-hidden="true"></span> ${_('Create New Announcement')}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>

  <div class="wrapper-content wrapper">
    <section class="content">
      <div class="introduction">
        <p class="copy">${_('Use announcement to notify students of important dates or exams, highlight particular discussions in the forums, announce schedule changes, and respond to student questions.')}</p>
      </div>
    </section>
  </div>

  <div class="main-wrapper">
    <div class="inner-wrapper">
      <div class="course-info-wrapper"
        % if getattr(context_course, 'language'):
          lang="${context_course.language}"
        % endif
      >
        <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="main-column window">
              <article class="course-updates" id="course-update-view">
                <ol class="update-list" id="course-update-list"></ol>
              </article>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="sidebar course-handouts" id="course-handouts-view"></div>
          </div>
        </div>
          

          
      </div>
    </div>
  </div>
</%block>
