<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()"><% return "develop_course" %></%def>
<%!
import logging
from cms.djangoapps.contentstore.config.waffle_utils import should_show_checklists_page, should_show_checklists_quality
from util.date_utils import get_default_time_display
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
from contentstore.utils import reverse_usage_url
from openedx.core.djangolib.markup import HTML, Text
%>
<%block name="title">${_("Course Outline")}</%block>
<%block name="bodyclass">is-signedin course view-outline</%block>

<%namespace name='static' file='static_content.html'/>

<%block name="requirejs">
    require(["js/factories/outline"], function (OutlineFactory) {
        OutlineFactory(
            ${course_structure | n, dump_js_escaped_json},
            ${initial_state | n, dump_js_escaped_json}
        );
    });
</%block>

<%block name="header_extras">
<link rel="stylesheet" type="text/css" href="${static.url('js/vendor/timepicker/jquery.timepicker.css')}" />
% for template_name in ['course-outline', 'xblock-string-field-editor', 'basic-modal', 'modal-button', 'course-outline-modal', 'due-date-editor', 'release-date-editor', 'grading-editor', 'publish-editor', 'staff-lock-editor', 'unit-access-editor', 'content-visibility-editor', 'verification-access-editor', 'timed-examination-preference-editor', 'access-editor', 'settings-modal-tabs', 'show-correctness-editor', 'highlights-editor', 'highlights-enable-editor', 'course-highlights-enable']:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="js/${template_name}.underscore" />
</script>
% endfor
<%static:optional_include_mako file="course_outline_header_extras_post.html" />

% if not settings.STUDIO_FRONTEND_CONTAINER_URL:
<link rel="stylesheet" type="text/css" href="${static.url('common/css/vendor/common.min.css')}" />
<link rel="stylesheet" type="text/css" href="${static.url('common/css/vendor/courseOutlineHealthCheck.min.css')}" />
% endif
</%block>

<%block name="page_alert">
  %if notification_dismiss_url is not None:
  <div class="wrapper wrapper-alert wrapper-alert-announcement is-shown">
    <div class="alert announcement has-actions">
      <span class="feedback-symbol fa fa-bullhorn" aria-hidden="true"></span>

      <div class="copy">
        <h2 class="title title-3">${_("This course was created as a re-run. Some manual configuration is needed.")}</h2>

        <p>${_("No course content is currently visible, and no learners are enrolled. Be sure to review and reset all dates, including the Course Start Date; set up the course team; review course updates and other assets for dated material; and seed the discussions and wiki.")}</p>
      </div>

      <ul class="nav-actions">
        <li class="action action-dismiss">
          <a href="#" class="button dismiss-button" data-dismiss-link='${notification_dismiss_url}'>
            <span class="icon fa fa-times-circle" aria-hidden="true"></span>
            <span class="button-copy">${_("Dismiss")}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  %endif

    %if deprecated_blocks_info.get('blocks') or deprecated_blocks_info.get('deprecated_enabled_block_types'):
      <div class="wrapper wrapper-alert wrapper-alert-error is-shown">
        <div class="alert announcement">
          <span class="feedback-symbol fa fa-warning" aria-hidden="true"></span><span class="sr">${_("Warning")}</span>

          <div class="copy">
            <h2 class="title title-3 warning-heading-text">${_("This course uses features that are no longer supported.")}</h2>

            %if deprecated_blocks_info.get('blocks'):
              <div class="components-list">
                <p class="components-list-heading-text">${_("You must delete or replace the following components.")}</p>
                  <nav class="nav-related" aria-label="${_('Unsupported Components')}">
                    <ul>
                      % for component_parent_url, component_display_name in deprecated_blocks_info['blocks']:
                          <li class="nav-item">
                                % if component_display_name:
                                    <a href="${component_parent_url}">${component_display_name}</a>
                                % else:
                                    <a href="${component_parent_url}">${_("Deprecated Component")}</a>
                                % endif
                          </li>
                      % endfor
                    </ul>
                  </nav>
              </div>
            %endif

            % if deprecated_blocks_info.get('deprecated_enabled_block_types'):
              <div class="advance-modules-list">
                <p class="advance-modules-remove-text">
                  ${Text(_("To avoid errors, {platform_name} strongly recommends that you remove unsupported features from the course advanced settings. To do this, go to the {link_start}Advanced Settings page{link_end}, locate the \"Advanced Module List\" setting, and then delete the following modules from the list.")).format(
                    platform_name=static.get_platform_name(),
                    link_start=HTML('<a href="{advance_settings_url}">').format(advance_settings_url=deprecated_blocks_info['advance_settings_url']),
                    link_end=HTML("</a>")
                  )}
                </p>
                <nav class="nav-related" aria-label="${_('Unsupported Advance Modules')}">
                  <ul>
                    % for block_type in deprecated_blocks_info['deprecated_enabled_block_types']:
                      <li class="nav-item">${block_type}</li>
                    % endfor
                  </ul>
                </nav>
              </div>
            % endif
          </div>
        </div>
      </div>
    %endif

</%block>

<%block name="content">
<div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <h1 class="page-header">
                    <span class="sr">&gt; </span>${_("Course Outline")}
                </h1>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <nav class="nav-actions" aria-label="${_('Page Actions')}">
                    <h3 class="sr">${_("Page Actions")}</h3>
                    <ul>
                        <li class="nav-item">
                            <a href="#" class="button btn-default button-new" data-category="chapter" data-parent="${context_course.location}" data-default-name="${_('Section')}" title="${_('Click to add a new section')}">
                                <span class="icon fa fa-plus" aria-hidden="true"></span>${_('Create New Topic')}
                            </a>
                        </li>
                        <div style="display: none;">
                            %if reindex_link:
                                <li class="nav-item">
                                    <a href="${reindex_link}" class="button button-reindex" data-category="reindex" title="${_('Reindex current course')}">
                                        <span class="icon-arrow-right" aria-hidden="true"></span>${_('Reindex')}
                                    </a>
                                </li>
                            %endif
                        </div>
                        <li class="nav-item">
                            <a href="#" class="button btn-primary button-toggle button-toggle-expand-collapse collapse-all is-hidden">
                                <span class="collapse-all"><span class="icon fa fa-arrow-up" aria-hidden="true"></span> <span class="label">${_("Collapse Outline")}</span></span>
                                <span class="expand-all"><span class="icon fa fa-arrow-down" aria-hidden="true"></span> <span class="label">${_("Expand Outline")}</span></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="${lms_link}" rel="external" class="button btn-primary view-button view-live-button"
                                title="${_('Click to open the courseware in the LMS in a new tab')}">
                                <span class="icon fa fa-eye" aria-hidden="true"></span>${_("View Live")}</a>
                        </li>
                    </ul>
                </nav> 
            </div>
        </div>
       

        
    </header>
</div>

<div class="wrapper-content wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-8 col-xs-12 col-sm-12">
                <article class="content-primary" role="main">
                    <div class="course-status">
                        <div class="status-release">
                            <h2 class="status-release-label">${_("Course Start Date")}</h2>
                            <br>
                            <p class="status-release-value">${course_release_date}</p>
                        </div>
                        <div class="status-pacing">
                            <h2 class=status-pacing-label>${_("Pacing")}</h2>
                            <br>
                            % if context_course.self_paced:
                                <p class="status-pacing-value">${_("Self-Paced")}</p>
                            % else:
                                <p class="status-pacing-value">${_("Instructor-Paced")}</p>
                            % endif
                        </div>
                        <ul class="status-actions">
                            <li class="action-item action-edit">
                            <a href="${settings_url}" class="edit-button action-button" data-tooltip="${_("Edit Start Date")}">
                                <span class="icon fa fa-pencil-square-o" aria-hidden="true"></span>${_("Edit Details")}
                                <span class="action-button-text sr">${_("Edit Start Date")}</span>
                            </a>
                            </li>
                        </ul>
                        <div class="status-highlights-enabled"></div>
                        % if should_show_checklists_page(request.user):
                        <div class="status-checklist">
                            <%static:studiofrontend entry="courseOutlineHealthCheck">
                                {
                                    "lang": "${language_code | n, js_escaped_string}",
                                    "course": {
                                        "id": "${context_course.id | n, js_escaped_string}",
                                        "name": "${context_course.display_name_with_default | n, js_escaped_string}",
                                        "course_release_date": "${course_release_date | n, js_escaped_string}",
                                        "is_course_self_paced": ${context_course.self_paced | n, dump_js_escaped_json},
                                        "url_name": "${context_course.location.name | n, js_escaped_string}",
                                        "org": "${context_course.location.org | n, js_escaped_string}",
                                        "num": "${context_course.location.course | n, js_escaped_string}",
                                        "display_course_number": "${context_course.display_coursenumber | n, js_escaped_string}",
                                        "revision": "${context_course.location.revision | n, js_escaped_string}"
                                    },
                                    "help_tokens": {
                                        "files": "${get_online_help_info(online_help_token())['doc_url'] | n, js_escaped_string}"
                                    },
                                    "enable_quality": ${should_show_checklists_quality(request.user, context_course.id) | n, dump_js_escaped_json}
                                }
                            </%static:studiofrontend>
                                
                        </div>
                        % endif
                    </div>
                    <div class="wrapper-dnd"
                        % if getattr(context_course, 'language'):
                        lang="${context_course.language}"
                        % endif
                    >
                        <%
                        course_locator = context_course.location
                        %>
                        <h2 class="sr">${_("Course Outline")}</h2>
                        <article class="outline outline-complex outline-course" data-locator="${course_locator}" data-course-key="${course_locator.course_key}">
                        </article>
                    </div>
                    <div class="ui-loading">
                        <p><span class="spin"><span class="icon fa fa-refresh" aria-hidden="true"></span></span> <span class="copy">${_("Loading")}</span></p>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <aside class="content-supplementary" role="complementary">
                    <div class="bit">
                        <h3 class="title-3">${_("How are these used?")}</h3>
                        <ul>
                            <li class="published">${_("Published content")}</li>
                            <li class="unpublished">${_("Unpublished changes")}</li>
                            <li class="never-published">${_("Scheduled Content (Not yet release)")}</li>
                            <li class="visible-to-staff">${_("Visible to Staff Only")}</li>
                        </ul>
                    </div>
                    <div class="bit">
                        <h3 class="title-3">${_("Creating your course organization")}</h3>
                        <p>${_("You add topics, lessons, and contents directly in the outline.")}</p>
                        <p>${_("Create a topic, then add lessons and contents. Open a unit to add course components.")}</p>
                    </div>
                    <div class="bit">
                        <h3 class="title-3">${_("Reorganizing your course")}</h3>
                        <p>${_("Drag topics, lessons, and contents to new locations in the outline.")}</p>
                        <div class="external-help">
                            <a href="${get_online_help_info('outline')['doc_url']}" target="_blank" class="button external-help-button">${_("Learn more about the course outline")}</a>
                        </div>
                    </div>
                    <div class="bit">
                        <h3 class="title-3">${_("Setting release dates and grading policies")}</h3>
                        <p>${_("Select the Configure icon for a topic or lesson to set its release date. When you configure a lesson, you can also set the grading policy and due date.")}</p>
                        <div class="external-help">
                            <a href="${get_online_help_info('grading')['doc_url']}" target="_blank" class="button external-help-button">${_("Learn more about grading policy settings")}</a>
                        </div>
                    </div>
                    <div class="bit">
                        <h3 class="title-3">${_("Changing the content learners see")}</h3>
                        <p>${_("To publish draft content, select the Publish icon for a topic, lesson, or unit.")}</p>
                        <p>${Text(_("To make a topic, lesson, or unit unavailable to learners, select the Configure icon for that level, then select the appropriate {em_start}Hide{em_end} option. Grades for hidden topics, lessons, and contents are not included in grade calculations.")).format(em_start=HTML("<strong>"), em_end=HTML("</strong>"))}</p>
                        <p>${Text(_("To hide the content of a lesson from learners after the lesson due date has passed, select the Configure icon for a lesson, then select {em_start}Hide content after due date{em_end}. Grades for the lesson remain included in grade calculations.")).format(em_start=HTML("<strong>"), em_end=HTML("</strong>"))}</p>
                        <div class="external-help">
                            <a href="${get_online_help_info('visibility')['doc_url']}" target="_blank" class="button external-help-button">${_("Learn more about content visibility settings")}</a>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </section>
</div>
</%block>
