<%namespace name='static' file='/static_content.html'/>
<%page expression_filter="h"/>
<%inherit file="login_register_base.html" />
<%def name="online_help_token()"><% return "login" %></%def>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import js_escaped_string
%>
<%block name="title">${_("Sign In")}</%block>
<%block name="bodyclass">not-signedin view-signin</%block>

<%block name="content">

<div class="login-page wrapper-content wrapper m-t-0">
  <div class="p-30">
    <header>
      <h1 class="title title-1 ff-Frank-Ruhl-Libre fc5 f-w-600">Sign In</h1>
      % if static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION')):
          <p class="ff-Nunito-Sans text-center">
            <span class="fc4">${_("Don't have a {studio_name} Account?").format(studio_name=settings.STUDIO_SHORT_NAME)}</span> 
            <span>
              <a href="${reverse('signup')}" class="fc5 action action-signin">
                Create an account
              </a>
            </span>
          </p>
      % endif
    </header>

    <div class="login-register-box">
      <form id="login_form" method="post" action="login_post" onsubmit="return false;">
        <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf }" />

        <div class="field text required m-b-10" id="field-email">
          <label for="email" class="ff-Nunito-Sans fc3 m-b-10">EMAIL</label>
          <input id="email" type="email" name="email"/>
        </div>

        <div class="field text required m-b-10" id="field-password">
          <label for="password" class="ff-Nunito-Sans fc3 m-b-10">PASSWORD</label>
          <input id="password" type="password" name="password" class="p-r-45" />
          <a href="javascript:void(0)" class="toggle-visible-password">
            <i class="fa fa-eye"></i>
          </a>
        </div>

        <div class="field text required my-5 clearfix" id="field-remember">
          <div class="pull-left">
              <input id="remember" type="checkbox" name="remember" class="input-block checkbox" value="false">
              <label for="remember">
                  <span class="label-text">Remember me</span>
              </label>
          </div>
          <a href="${forgot_password_link}" class="action action-forgotpassword fc0 pull-right">
              ${_("Forgot password?")}
          </a>
        </div>

        <div class="form-actions">
          <button type="submit" id="submit" name="submit" class="action action-primary fc5 ff-Nunito-Sans">
            ${_("Sign In to {studio_name}").format(studio_name=settings.STUDIO_NAME)}
          </button>
        </div>
        <input name="honor_code" type="checkbox" value="true" checked="true" hidden="true">
      </form>
    </div>
  </div>
  <script type="text/javascript">
    $('.login-register-box .toggle-visible-password').click(function(){
      var inputPass = $('.login-register-box input#password');

      type = inputPass.attr("type");
      if(type === 'password'){
        inputPass.prop('type', 'text');
        $('.login-register-box #field-password i').removeClass('fa-eye');
        $('.login-register-box #field-password i').addClass('fa-eye-slash');
      } else {
        inputPass.prop('type', 'password');
        $('.login-register-box #field-password i').addClass('fa-eye');
        $('.login-register-box #field-password i').removeClass('fa-eye-slash');
      }
    });
  </script>
</div>
</%block>

<%block name="page_bundle">
  <%static:webpack entry="js/factories/login">
    LoginFactory("${reverse('homepage') | n, js_escaped_string}");
  </%static:webpack>
</%block>
