<%inherit file="login_register_base.html" />
<%def name="online_help_token()"><% return "register" %></%def>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
%>

<%block name="title">${_("Sign Up")}</%block>
<%block name="bodyclass">not-signedin view-signup</%block>

<%block name="content">

<div class="login-page wrapper-content wrapper">
  <div class="p-30">
    <header>
      <h1 class="title title-1 ff-Frank-Ruhl-Libre fc5 f-w-600">Create an Account</h1>
      <p class="ff-Nunito-Sans text-center">
        <span class="fc4">
          ${_("Already have a {studio_name} Account? Sign in").format(studio_name=settings.STUDIO_SHORT_NAME)}
        </span> 
        <span>
          <a href="${reverse('login')}" class="fc5 action action-signin">
            Sign in
          </a>
        </span>
      </p>
    </header>
    <div class="login-register-box">
      <form id="register_form" method="post">
        <div class="field text required m-b-10" id="field-name">
          <label for="name" class="ff-Nunito-Sans fc3 m-b-10">FULL NAME *</label>
          ## Translators: This is the placeholder text for a field that requests the user's full name.
          <input id="name" type="text" name="name" />
          <span id="name_error" class="error_message tip tip-error hidden fc0 fs12" role="alert"></span>
        </div>

        <div class="field text required m-b-10" id="field-username">
          <label for="username" class="ff-Nunito-Sans fc3 m-b-10">PUBLIC USERNAME *</label>
          ## Translators: This is the placeholder text for a field that asks the user to pick a username
          <input id="username" type="text" name="username" />
          <span class="tip tip-stacked fc4 fs12">The name that will identify you in your courses (cannot be changed later)</span>
          <span id="username_error" class="error_message tip tip-error hidden fc0 fs12" role="alert"></span>
        </div>

        <div class="field text required m-b-10" id="field-teacherid">
          <label for="teacherid" class="ff-Nunito-Sans fc3 m-b-10">TEACHER ID *</label>
          <input id="teacherid" type="text" name="school_id" />
          <span id="teacherid_error" class="error_message tip tip-error hidden fc0 fs12" role="alert"></span>
        </div>

        <div class="field text required m-b-10" id="field-email">
          <label for="email" class="ff-Nunito-Sans fc3 m-b-10">EMAIL ADDRESS *</label>
          <input id="email" type="email" name="email" />
          <span id="email_error" class="error_message tip tip-error hidden fc0 fs12" role="alert"></span>
        </div>

        <div class="field text required m-b-10" id="field-password">
          <label for="password" class="ff-Nunito-Sans fc3 m-b-10">PASSWORD *</label>
          <input id="password" type="password" name="password" />
          <span id="password_error" class="error_message tip tip-error hidden fc0 fs12" role="alert"></span>
        </div>

        <div class="field text required m-b-10" id="field-password">
          <label for="verifypassword" class="ff-Nunito-Sans fc3 m-b-10">VERIFY PASSWORD *</label>
          <input id="verifypassword" type="password" name="verifypassword" />
          <span id="verifypassword_error" class="error_message tip tip-error hidden fc0 fs12" role="alert"></span>
        </div>

        <div class="field styled-checkbox required m-b-10 m-t-40" id="field-pp">
          <input id="pp" name="privacy_policy" type="checkbox" value="true" />
          <label for="pp">
            I agree to the  <a data-rel="edx.org" href="javascript:void(0)" class="fc0">Privacy Policy</a> 
            <span id="privacy_policy_error" class="error_message tip tip-error hidden fc0 fs12" role="alert"></span>
          </label>
        </div>

        <div class="field styled-checkbox required m-b-30 m-t-20" id="field-tos">
          <input id="tos" name="terms_of_service" type="checkbox" value="true" />
          <label for="tos">
            I agree to the <a data-rel="edx.org" href="javascript:void(0)" class="fc0">Terms of Service and School Policies</a> 
            <span id="terms_of_service_error" class="error_message tip tip-error hidden fc0 fs12" role="alert"></span>
          </label>
        </div>

        <div class="field text hidden" id="field-location">
          <label for="location">${_("Your Location")}</label>
          <input class="short" id="location" type="text" name="location" />
        </div>

        <div class="field text hidden" id="field-language">
          <label for="language">${_("Preferred Language")}</label>
          <input class="short" id="language" type="text" name="language" />
        </div>

        <div class="form-actions ">
          <button type="submit" id="submit" name="submit" class="action action-primary fc5 ff-Nunito-Sans">Get Started</button>
        </div>
      </form>
    </div>
  </div>
</div>
</%block>

<%block name="requirejs">
    require(["k_thamesx_cms/js/factories/register"], function (RegisterFactory) {
        RegisterFactory();
    });
</%block>
